.cc-file-download__link {
  @extend %anchor-base;
  @include animated-link;
  margin-right: var(--space-xs);
}

.cc-file-download__meta {
  color: var(--meta-text-colour);
  font-size: var(--body-sm);
}
