// ----------------------------------
// UI Components
// Sidebar Search
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-sidebar-search {
  display: block;
  position: relative;
}

.cc-sidebar-search__label {
  font-weight: bold;
}

.cc-sidebar-search__input {
  @extend %text-input-base;
  border-color: var(--colour-grey-30);
  font-size: inherit;
  height: calc(6.75 * var(--space-unit));
}

.cc-sidebar-search__btn {
  cursor: pointer;
  padding-bottom: calc(2.375 * var(--space-unit));
  padding-left: calc(1.5 * var(--space-unit));
  padding-right: calc(3.125 * var(--space-unit));
  padding-top: calc(2.375 * var(--space-unit));
  position: absolute;
  right: 0;
  top: 26px;
}
