// ----------------------------------
// UI Components
// FormFieldError
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-form-field-error {
  align-items: center;
  color: var(--colour-red-60);
  display: flex;
  font-size: var(--body-sm);
  margin-bottom: var(--space-xs);
}

.cc-form-field-error__icon {
  flex-shrink: 0;
  height: 20px;
  margin-right: calc(2 * var(--space-xs));
  width: 20px;
}

.cc-form-field-error__text,
.cc-form-field-error__list {
  @extend %margin-0;
}

.cc-form-field-error__list {
  padding-left: var(--space-lg);
}
