// ----------------------------------
// UI Tools - Mixins
// Design System 1.0 Alpha
// 2019-11-19
// ----------------------------------

@mixin clearfix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
