// ----------------------------------
// UI Settings
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {

  // blues
  --colour-blue-80: #003170;
  --colour-blue-70: #004099;
  --colour-blue-60: #0055cc;
  --colour-blue-50: #1672f3;
  --colour-blue-10: #dbeaff;
  --colour-blue-05: #f0f6ff;

  // cyans
  --colour-cyan20: #beebf4;
  --colour-cyan05: #f1fcfd;

  // greys
  --colour-grey-90: #000;
  --colour-grey-80: #292929;
  --colour-grey-70: #5c5c5c;
  --colour-grey-60: #767676;
  --colour-grey-50: #878787;
  --colour-grey-40: #999;
  --colour-grey-30: #b3b3b3;
  --colour-grey-20: #ccc;
  --colour-grey-10: #e6e6e6;
  --colour-grey-05: #f2f2f2;

  --colour-white: #fff;
  --colour-black: #000;

  --link-colour: var(--colour-blue-60);
  --link-colour-hover: var(--colour-blue-70);
  --link-colour-active: var(--colour-blue-50);
}
