// ----------------------------------
// UI Settings
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

$blue80: #003170;
$blue70: #004099;
$blue60: #0055cc;
$blue50: #1672f3;
$blue10: #dbeaff;
$blue05: #f0f6ff;

$grey70: #5c5c5c;
$grey60: #767676;
$grey20: #ccc;

$cyan20: #beebf4;
$cyan05: #f1fcfd;

$linkColour: $blue60;
$linkColourHover: $blue70;
$linkColourActive: $blue50;
