// ----------------------------------
// UI Settings
// MQ
// ----------------------------------
// Design System 1.0 Alpha
// 2020-01-06
// ----------------------------------

$mq-breakpoints: (
  xs: 512px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1344px,
  xxl: 1500px
) !default;

@import '~sass-mq';
