// ----------------------------------
// UI Settings
// Transition
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --transition-duration-fast: 0.2s;
  --transition-duration: 0.4s;
}
