// ----------------------------------
// UI Tools
// Mixins
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/**
 * Hide content visually (for screen-readers)
 *
 * Usage:
 *
 * .selector {
 *   @include visually-hidden;
 * }
 *
 */

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
