// ----------------------------------
// UI Tools
// Mixins
// Clearfix
// ----------------------------------
// Design System 1.0 Alpha
// 2019-01-10
// ----------------------------------

/**
 * Clear floated content within a container.
 *
 * Usage:
 *
 * .selector {
 *   @include clearfix;
 * }
 *
 */

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
