// ----------------------------------
// UI Tools
// Mixins
// List
// ----------------------------------
// Design System 1.0 Alpha
// 2019-01-10
// ----------------------------------

/**
 * Override default <ul> list style
 *
 * Usage:
 *
 * .list-selector {
 *   @include list-clean;
 * }
 *
 */

@mixin list-clean {
  margin-bottom: 0;
  margin-left: 0;

  > li {
    list-style: none;
  }
}
