// ----------------------------------
// UI Tools
// Mixins
// Typography
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

@mixin heading-divider(
  $colour: var(--colour-black),
  $height: calc(0.5 * var(--space-unit)),
  $spacing: calc(1.5 * var(--space-unit)),
  $width: 1em
) {
  &:after {
    background-color: $colour;
    content: '';
    display: block;
    height: $height;
    margin: $spacing auto 0;
    width: $width;
  }
}

/**
 * Generates a style where a horizontal line displays
 * beneath an element on hover with a transition.
 *
 * @param {Int} $height - height of the "underline"
 */
@mixin animated-underline($height: calc(0.25 * var(--space-unit))) {
  --transition-duration: 0.3s;
  --transition-timing-function-in: cubic-bezier(0.23, 1, 0.32, 1);
  --transition-timing-function-out: cubic-bezier(0.55, 0.085, 0.68, 0.53);

  background-image: linear-gradient(currentColor, currentColor);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0 $height;
  text-decoration: none;
  transition: background-size var(--transition-duration) var(--transition-timing-function-out);

  @include hocus {
    background-size: 100% $height;
    text-decoration: none;
    transition-timing-function: var(--transition-timing-function-in);
  }
}
