// ----------------------------------
// UI Tools
// Mixins
// Typography
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

@mixin heading-divider(
  $height: calc(0.5 * var(--space-unit)),
  $width: calc(2.5 * var(--space-unit))
) {
  position: relative;

  &:after {
    background-color: var(--colour-black);
    bottom: 0;
    content: '';
    height: $height;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: $width;
  }
}

/**
 * Generates a style where a horizontal line displays
 * beneath an element on hover.
 */
@mixin animated-underline {
  --transition-duration: 0.3s;
  position: relative;

  &:before {
    background-color: var(--colour-white);
    bottom: 0;
    content: '';
    height: calc(0.125 * var(--space-unit));
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all var(--transition-duration) ease-in-out;
    visibility: hidden;
    width: 100%;
  }

  &:hover:before {
    transform: scaleX(1);
    visibility: visible;
  }
}
