// ----------------------------------
// UI Components
// Tag List and Tags
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --tag-text-size: calc(12/16 * var(--text-base-size)); // 12px
  --tag-text-spacing: calc(0.7/12 * 1em); // 0.7px
}

.cc-tag-list {
  @extend %list-clean;
}

.cc-tag {
  align-items: center;
  background-color: var(--colour-blue-05);
  display: inline-flex;
  font-size: var(--tag-text-size);
  justify-content: center;
  letter-spacing: var(--tag-text-spacing);
  line-height: 1.2;
  margin-bottom: var(--space-xs);
  min-height: calc(4.5 * var(--space-unit));
  min-width: calc(14 * var(--space-unit));
  padding: calc(0.75 * var(--space-unit)) calc(2 * var(--space-unit));
}

.cc-tag--link {
  @extend %anchor-base;
  text-decoration: none;
  transition: ease var(--transition-duration-fast);
  transition-property: background-color, color;

  &:hover {
    background-color: var(--colour-blue-20);
  }
}
