# NPM
npm-debug.log
node_modules/

# Build/output files
.dist/
*.sass-cache*
dist
coverage

# Private
.env

.log
.DS_Store
.jest-*
*.log
*.tgz

# Code editor / file system
.idea
.DS_Store
*.code-workspace

# Misc
temp/
