// ----------------------------------
// UI Components
// LinkList
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-link-list {
  @extend %list-clean;
  border-top: 1px solid var(--colour-grey-10);
}

.cc-link-list__item {
  border-bottom: 1px solid var(--colour-grey-10);
}

.cc-link-list__link {
  @extend %anchor-base;
  align-items: center;
  display: flex;
  line-height: 1.5;
  padding: var(--space-unit) 0;
  text-decoration: none;
}

.cc-link-list__link-icon {
  box-sizing: content-box;
  margin-left: auto;
  order: 2;
  padding-left: calc(3 * var(--space-unit));
  padding-right: var(--space-unit);
  width: 0.375em;
}
