// ----------------------------------
// UI Components
// Social Share
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-social-share {
  margin: calc(-1.5 * var(--space-unit));
  position: relative;
}

.cc-social-share__list {
  @extend %list-clean;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.cc-social-share__link {
  cursor: pointer;
  display: block;
  padding: calc(1.5 * var(--space-unit));
  
  @include hocus {
    .cc-social-share__icon {
      border-color: var(--colour-grey-80);
      color: var(--colour-grey-80);
    }
  }
}

.cc-social-share__icon {
  border: 1px solid var(--colour-grey-30);
  border-radius: 50%;
  color: var(--colour-grey-30);
  height: 1.5rem;
  transition: all ease var(--transition-duration);
  width: 1.5rem;
}

@keyframes fade-delay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.cc-social-share__copied {
  animation: 2s ease 3s 1 forwards fade-delay;
  background: var(--colour-grey-70);
  border: 1px solid var(--colour-grey-40);
  color: var(--colour-white);
  display: block;
  font-size: var(--body-sm);
  left: calc(1.5 * var(--space-unit));
  padding: var(--space-unit);
  pointer-events: none;
  position: absolute;
  right: calc(1.5 * var(--space-unit));
  top: calc(-1 * var(--space-unit));
  transform: translateY(-100%);
  z-index: 1;
}
