// ----------------------------------
// UI Components
// Form Select
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-select {
  @extend %text-input-base;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9347 5L8.43458 9.20018L3.93446 5L2.43506 6.39946L8.43458 12L14.4351 6.39946L12.9347 5Z' fill='black'/%3E%3C/svg%3E");
  background-position: 94% center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-right: calc(3 * var(--space-unit));

  // IE11
  &::-ms-expand {
    display: none;
  }
}
