// ----------------------------------
// UI Components
// SectionTitle
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-section__title {
  @extend %heading-base;
  @extend %heading-hero;
  @include heading-divider;
  position: relative;
  text-align: center;
}

.cc-section__title-anchor {
  display: block;
  left: 0;
  position: absolute;
  top: calc(-1 * var(--header-height));
  visibility: hidden;
  
  @include mq(sm) {
    top: calc(-1 * var(--header-height-sm));
  }
}
