// ----------------------------------
// UI Components
// SectionTitle
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-section__title {
  @extend %heading-base;
  @extend %heading-display;
  @include heading-divider;
  position: relative;
  text-align: center;

  @include mq(md) {
    z-index: var(--z-medium);
  }
}

.cc-section__title-anchor {
  display: block;
  left: 0;
  position: absolute;
  top: calc(-1 * (var(--header-height) + var(--secondary-nav-height)));
  visibility: hidden;
  
  @include mq(sm) {
    top: calc(-1 * (var(--header-height-sm) + var(--secondary-nav-height)));
  }
}
