%btn-base {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: var(--text-sm);
  line-height: 1;
  letter-spacing: rem(0.4);
  text-decoration: none;

  @include breakpoint(sm) {
    padding: 0 calc(4 * var(--space-unit));
  }

  &:hover {
    text-decoration: none;
  }
}

.btn {
  @extend %btn-base;
  background: var(--colour-blue-60);
  border-radius: 2px;
  color: var(--colour-white);
  display: inline-flex;
  font-family: var(--font-primary);
  height: calc(5.5 * var(--space-unit));
  justify-content: center;
  min-height: calc(5.5 * var(--space-unit));
  min-width: calc(5.5 * var(--space-unit));
  padding: 0 calc(4 * var(--space-unit));
  transition: background ease 0.4s;

  &:hover {
    background: var(--colour-blue-70);
    color: var(--colour-white);
  }

  &:active {
    background: var(--colour-blue-50);
    color: var(--colour-white);
  }

  &[disabled] {
    background: var(--colour-grey-20);
    color: var(--colour-grey-50);
    cursor: not-allowed;
  }
}

.btn__icon--left {
  margin-left: calc(-2 * var(--space-unit));
  margin-right: var(--space-unit);
}

.btn__icon--right {
  margin-left: var(--space-unit);
  margin-right: calc(-2 * var(--space-unit));
}

.btn--back {
  @extend %btn-base;
  color: var(--colour-blue-80);
  height: calc(8 * var(--space-unit));
  justify-content: flex-start;
  min-height: calc(8 * var(--space-unit));
  padding: 0 calc(2 * var(--space-unit));
  width: 100%;

  @include breakpoint(md) {
    display: none;
  }

  .icon {
    display: flex;
    justify-content: flex-end;
    margin-right: calc(0.5 * var(--space-unit));
    transform: rotate(180deg);
  }
}
