.btn {
  @extend %btn-base;
  border-radius: calc(0.25 * var(--space-unit));
  display: inline-flex;
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  transition: ease 0.4s;
  transition-property: background-color;

  &:focus {
    outline-color: var(--link-colour-focus-outline);
    outline-offset: calc(0.5 * var(--space-unit));
  }
}

.btn[disabled] {
  color: var(--link-colour-disabled);
  cursor: not-allowed;

  @include hocus {
    color: var(--link-colour-disabled);
  }
}

.btn--primary,
.btn--secondary,
.btn--ghost {
  @extend %btn-size-standard;

  color: var(--colour-grey-80);
  padding: var(--space-unit) calc(2 * var(--space-unit));

  &:hover,
  &:focus,
  &:active {
    color: var(--colour-grey-80);
  }
}

.btn--primary,
.btn--secondary {
  &[disabled] {
    background-color: var(--colour-grey-10);
  }
}

.btn--primary {
  background-color: var(--colour-amber-30);

  &:hover {
    background-color: var(--colour-amber-20);
  }

  &:focus,
  &:active {
    background-color: var(--colour-amber-30);
  }
}

.btn--secondary {
  background-color: var(--colour-amber-20);

  &:hover {
    background-color: var(--colour-amber-10);
  }

  &:focus,
  &:active {
    background-color: var(--colour-amber-20);
  }
}

.btn--ghost {
  background-color: transparent;

  &:hover {
    background-color: var(--colour-amber-20);
  }

  &:focus,
  &[disabled] {
    background-color: transparent;
  }

  &:active {
    background-color: var(--colour-amber-10);
  }

  .btn__text {
    border-bottom: 1px solid var(--colour-grey-80);
    transition: ease 0.4s;
    transition-property: border-bottom-color;
  }

  &:hover .btn__text,
  &:active .btn__text,
  &[disabled] .btn__text {
    border-bottom-color: transparent;
  }
}

.btn--link {
  @include animated-link($selector: '.btn__text');
}

.btn__icon--left {
  margin-left: calc(-0.5 * var(--space-unit));
  margin-right: calc(1.5 * var(--space-unit));
}

.btn__icon--right {
  margin-left: calc(1.5 * var(--space-unit));
  margin-right: calc(-0.5 * var(--space-unit));
}

// Call To Action wrapper styles

.cc-cta {
  text-align: center;
}

.cc-info-box .cc-cta {
  margin: calc(4 * var(--space-unit)) 0;

  &:last-child {
    margin-bottom: 0;
  }
}
