// ----------------------------------
// UI Components
// Footer
// Links
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--space-unit));
  padding: calc(2 * var(--space-sm)) 0;

  @include mq(sm) {
    margin-left: calc(3 * var(--space-unit));
    max-width: 50%;
    padding: 0;
  }

  @include mq(md) {
    flex-grow: 1;
    max-width: 100%;
  }
}

.cc-footer-links__item {
  @extend %color-inherit;
  @include animated-link;

  display: inline-block;
  font-size: var(--body-xs);
  margin: 0 var(--space-unit);
  padding-bottom: 0;
  position: relative;

  &:after {
    content: '|';
    height: 100%;
    margin: 0;
    position: absolute;
    right: -(var(--space-unit));
  }

  &:last-child:after {
    content: none;
  }
}
