// ----------------------------------
// UI Components
// Footer
// Links
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.footer-links {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: calc(2 * var(--space-sm)) 0;
}

.footer-links__item {
  @extend %color-inherit;
  @include animated-underline($height: calc(0.125 * var(--space-unit)));

  display: inline-block;
  font-size: calc(0.875 * var(--text-base-size));
  margin: 0 var(--space-unit);
  position: relative;
  text-decoration: none;

  &:after {
    content: '|';
    height: 100%;
    margin: 0;
    position: absolute;
    right: -(var(--space-unit));
  }

  &:last-child:after {
    content: none;
  }
}
