// ----------------------------------
// UI Settings - Breakpoints
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

$breakpoints: (
  sm: 500px,
  md: 738px,
  lg: 920px,
  xl: 1100px
) !default;
