.no-js .pagination {
  display: none;
}

.pagination {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pagination__break,
.pagination__next,
.pagination__prev,
.pagination__item {
  margin: 0;
  text-align: center;
}

.pagination__break-link,
.pagination__next-link,
.pagination__prev-link,
.pagination__link {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: var(--space-unit);
}

.pagination__next,
.pagination__prev {
  font-weight: bold;

  @include mq($until: xs) {
    width: 50%;
  }
}

.pagination__next-link {
  justify-content: flex-end;
  padding-right: 0;
}

.pagination__prev-link {
  padding-left: 0;
}

.pagination__prev-icon,
.pagination__next-icon {
  height: 12px;
  margin-top: 1px;
}

.pagination__prev-icon {
  margin-right: calc(0.5 * var(--space-unit));
  transform: rotate(180deg);
}

.pagination__next-icon {
  margin-left: calc(0.5 * var(--space-unit));
}

.pagination__link.is-active {
  font-weight: bold;
}

.pagination .is-disabled > * {
  color: var(--link-colour-disabled);
  cursor: not-allowed;
  pointer-events: none;

  &:hover {
    color: var(--link-colour-disabled);
  }
}


// Previous and Next link placement for mobile

.pagination:before {
  @include mq($until: xs) {
    content: '';

    // place after page numbers and before next and previous
    order: 1000;

    // force a break in the wrapping to ensure prev and next are always below the page numbers
    width: 100%;
  }
}

.pagination__prev {
  @include mq($until: xs) {
    // place after page numbers
    order: 10001;
    text-align: left;
  }
}

.pagination__next {
  @include mq($until: xs) {
    // place after page numbers
    order: 10002;
    text-align: right;
  }
}
