.cc-result-item {
  border-top: 1px solid var(--colour-grey-10);
  padding-bottom: var(--space-lg);
  padding-top: var(--space-lg);
  text-align: left;
}

.cc-result-item__title {
  font-size: var(--body-lg);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
}

.cc-result-item__link {
  @extend %list-item-link;
}

.cc-result-item__description,
.cc-result-item__description p {
  margin-bottom: 0;
  margin-top: 0;
}

.cc-result-item__meta {
  font-size: var(--body-md);
  line-height: 1.57143;
  margin-bottom: var(--space-xs);
}

.cc-result-item__meta-date,
.cc-result-item__meta-last-updated {
  color: var(--text-colour);

  @include mq($until: xs) {
    display: block;
  }
}

.cc-result-item__meta-last-updated {
  @include mq(xs) {
    float: right;
  }
}

.cc-result-item__file-meta {
  margin-bottom: var(--space-xs);
}

.cc-result-item__file-meta-download {
  @extend %anchor-base;
  margin-right: var(--space-xs);
}

.cc-result-item__file-meta-size {
  color: var(--text-colour);
  font-size: var(--body-md);
}
