.result-item {
  border-top: 1px solid var(--colour-grey-10);
  padding-bottom: var(--space-lg);
  padding-top: var(--space-lg);
  text-align: left;
}

.result-item__title {
  font-size: var(--body-lg);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
}

.result-item__link {
  @extend %list-item-link;
}

.result-item__description {
  margin-bottom: 0;
  margin-top: 0;
}

.result-item__meta {
  font-size: var(--body-md);
  line-height: 1.57143;
  margin-bottom: var(--space-xs);
}

.result-item__meta-date,
.result-item__meta-last-updated {
  color: var(--colour-grey-60);

  @include mq($until: xs) {
    display: block;
  }
}

.result-item__meta-last-updated {
  @include mq(xs) {
    float: right;
  }
}

.result-item__file-meta {
  margin-bottom: var(--space-xs);
}

.result-item__file-meta-download {
  margin-right: var(--space-xs);

  &:hover,
  &:focus,
  &:active {
    color: var(--link-colour-hover);
  }
}

.result-item__file-meta-size {
  color: var(--colour-grey-60);
  font-size: var(--body-md);
}
