:root {
  --site-alert-height: calc(7.5 * var(--space-unit));
  --site-alert-colour-yellow: #ffce3c;

  @include mq(xs) {
    --site-alert-height: calc(5 * var(--space-unit));
  }
}

.site-alert {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.4s ease;

  &.is-active {
    height: var(--site-alert-height);
  }
}

.site-alert__container {
  align-items: center;
  background: var(--site-alert-colour-yellow);
  bottom: 0;
  display: flex;
  font-size: var(--body-md);
  height: var(--site-alert-height);
  justify-content: space-between;
  left: 0;
  line-height: var(--heading-line-height);
  padding: calc(0.625 * var(--space-unit)) calc(2.5 * var(--space-unit));
  position: absolute;
  right: 0;

  @include mq(sm) {
    &:before {
      content: '';
      display: block;
      flex: 0 0 auto;
      width: 5rem;
    }
  }
}

.site-alert__link {
  align-items: center;
  color: var(--colour-grey-80);
  display: flex;
  font-family: var(--font-secondary);
  max-width: 66%;

  .icon {
    height: calc(1.5 * var(--space-unit));
    margin-left: var(--space-unit);
    width: calc(1.5 * var(--space-unit));

    @include mq(xs) {
      margin-left: calc(2 * var(--space-unit));
    }
  }
}

.site-alert__link.site-alert__link:active,
.site-alert__link.site-alert__link:focus,
.site-alert__link.site-alert__link:hover {
  color: var(--colour-grey-80);
  text-decoration: none;
}

.site-alert__text {
  @extend %margin-0;
}

.site-alert__btn-close {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--colour-grey-80);
  cursor: pointer;
  display: flex;
  font-size: var(--body-md);
  padding: var(--space-unit);
  position: relative;

  .icon {
    height: calc(1.5 * var(--space-unit));
    margin-left: var(--space-unit);
    width: calc(1.5 * var(--space-unit));
  }
}
