// ----------------------------------
// UI Components
// Footer
// Newsletter
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-footer-newsletter {
  margin-bottom: var(--space-lg);
}

.cc-footer-newsletter__title {
  @extend %heading-base;
  @extend %heading-display;
  @include heading-fancy;
}

.cc-footer-newsletter__grid {
  @include mq(md) {
    display: flex;
  }
}

.cc-footer-newsletter__grid-item {
  @include mq(md) {
    width: 50%;
  }

  &:first-child {
    @include mq(md) {
      padding-right: 2rem;
    }
  }
}

.cc-footer-newsletter__intro {
  display: inline-block;
  font-size: var(--body-lg);
  line-height: var(--body-line-height);
  margin-bottom: calc(3 * var(--space-unit));
  margin-top: 0;
}

.cc-footer-newsletter__form {
  @include mq(md) {
    display: flex;
  }

  a {
    @include animated-link;

    display: inline-block;
    padding-bottom: 0;
  }

  label {
    font-size: var(--body-md);
    font-weight: normal;
  }
}
