// ----------------------------------
// UI Components
// Footer
// Newsletter
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-footer-newsletter {
  margin-bottom: 32px;
}

.cc-footer-newsletter__title {
  @extend %heading-base;
  @extend %heading-display;
  @include heading-fancy;
}

.cc-footer-newsletter__grid {
  @include mq(md){
    display: flex;
  }
}

.cc-footer-newsletter__intro {
  display: inline-block;
  font-size: var(--body-lg);
  line-height: var(--body-line-height);
}

.cc-footer-newsletter__form {
  @include mq(md) {
    display: flex;
  }

  a {
    @include animated-link;

    display: inline-block;
    padding-bottom: 0;
  }

  label {
    font-size: var(--body-md);
    font-weight: normal;
  }
}
