// ----------------------------------
// UI Utilities - Display
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.u-dis-i {
  display: inline;
}

.u-dis-b {
  display: block;
}

.u-dis-ib {
  display: inline-block;
}

.u-dis-f {
  display: flex;
}

.u-dis-g {
  display: grid;
}
