// ----------------------------------
// UI Components
// Results Count
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-results-count {
  border-top: 1px solid var(--colour-grey-10);
  font-size: var(--body-md);
  padding-bottom: var(--space-lg);
  padding-top: var(--space-lg);

  @include mq(sm) {
    align-items: center;
    display: flex;
  }
}

.cc-results-count__result {
  margin-top: 0;

  @include mq(sm) {
    margin-bottom: 0;
  }
}

.cc-results-count__sort {
  margin-bottom: 0;
  margin-top: 0;

  @include mq(sm) {
    align-items: center;
    display: flex;
    margin-left: auto;
  }
}

.cc-results-count__label {
  @include mq(sm) {
    margin-right: calc(0.75 * var(--space-unit));
  }
}

.cc-results-count__select {
  @include mq(sm) {
    width: 238px;
  }
}
