// ----------------------------------
// UI Components
// Results Count
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-results-count {
  border-top: 1px solid var(--colour-grey-10);
  font-size: var(--body-md);
  padding-bottom: var(--space-lg);
  padding-top: var(--space-lg);

  @include mq(sm) {
    display: flex;
  }
}

.cc-results-count__sort {
  @include mq(sm) {
    margin-left: auto;
  }
}
