.result-item {
  border-top: 1px solid var(--colour-grey-10);
  text-align: left;
  padding-top: rem(25);
  padding-bottom: rem(25);
}

.result-item__title {
  margin-bottom: rem(5);
  margin-top: rem(5);
}

.result-item__link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--colour-blue-60);
    text-decoration: underline;
  }
}

.result-item__meta {
  font-size: var(--text-xs);
  line-height: 1.57143;
  margin-bottom: rem(5);
}

.result-item__text {
  margin-bottom: 0;
  margin-top: 0;
}
