// ----------------------------------
// UI Components
// Page Title
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-page-title {
  @extend %heading-base;
  @extend %heading-hero;
  @include heading-fancy;

  font-family: var(--font-secondary);
}

.cc-page-title__meta {
  color: var(--meta-text-colour);
  display: block;
  font-size: var(--body-sm);
  margin-bottom: calc(2 * var(--space-unit));
}

.cc-page-title__meta-label {
  font-weight: var(--heading-font-weight);
}
