.disclaimer__buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: calc(2 * var(--space-unit));
}

.disclaimer__button {
  margin: var(--space-unit) 0;
  width: 100%;

  @include mq(sm) {
    width: auto;

    &:first-child {
      margin-right: calc(4 * var(--space-unit));
    }
  }
}
