.btn--nav-toggle {
  @extend %btn-base;
  color: var(--colour-white);
  margin-left: auto;
  pointer-events: all;

  &:hover {
    color: var(--colour-white);
  }

  &[disabled] {
    display: none;
  }

  @include mq(md) {
    display: none;
  }
}

.icon-menu {
  display: inline-block;
  height: calc(2 * var(--space-unit));
  margin: 0 calc(3 * var(--space-unit)) 0 calc(1.5 * var(--space-unit));
  position: relative;
  width: calc(2 * var(--space-unit));

  @include mq(sm) {
    margin-right: 0;
  }
}

%menu-icon-line {
  background-color: var(--colour-white);
  height: calc(0.25 * var(--space-unit));
  position: absolute;
  width: calc(2 * var(--space-unit));
}

.icon-menu__detail {
  @extend %menu-icon-line;
  display: block;
  top: 50%;
  transform: translateY(-50%);

  &:before,
  &:after {
    @extend %menu-icon-line;
    content: '';
    display: block;
  }

  &:before {
    top: calc(-0.75 * var(--space-unit));
  }

  &:after {
    bottom: calc(-0.75 * var(--space-unit));
  }
}
