// ----------------------------------
// UI Components
// Skip Link
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-skip-link {
  margin: 0;
  padding: 0;
}

.cc-skip-link__link {
  clip: rect(0, 0, 0, 0);
  height: 0;
  position: absolute;
  width: 0;

  &:focus {
    background-color: var(--colour-white);
    border: 0;
    clip: auto;
    display: block;
    height: auto;
    line-height: normal;
    padding: calc(2 * var(--space-unit)) calc(4 * var(--space-unit));
    position: static;
    text-decoration: none;
    width: auto;
    z-index: 210;
  }
}

.cc-skip-link__link--float:focus {
  position: absolute;
}
