* {
  box-sizing: border-box;
}

// body vars
body {
  color: var(--colour-concrete-90);
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading-base;
}

h1 {
  @extend %text-xxl;
}

h2 {
  @extend %text-xl;
}

h3 {
  @extend %text-lg;
}

h4 {
  @extend %text-md;
}

h5 {
  @extend %text-sm;
}

h6 {
  @extend %text-xs;
}

// stylelint-disable selector-max-id
.is-search-active .header,
.is-search-active .image-lead,
.is-search-active .pride-strip,
.is-search-active .banner,
.is-search-active .main,
.is-search-active #main,
.is-search-active .footer {
  // TODO: figure out why we can't use @include mq(md) here
  @media screen and (min-width: 1024px) {
    transform: translate3d(0, 64px, 0);
  }
}
