// ----------------------------------
// UI Components
// Section
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.main {
  padding-top: var(--header-height);
  width: 100%;

  @include mq(sm) {
    padding-top: var(--header-height-sm);

    .sticky + & {
      padding-top: var(--header-height-sm-sticky);
    }
  }

  @include mq(md) {
    .subnav-active & {
      padding-top: calc(var(--header-height-sm) + var(--secondary-nav-height));
    }
  }
}
