// ----------------------------------
// UI Components
// QuickLinks
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.c-quick-links {
  @include list-clean;
}

// .c-quick-links__item {}

.c-quick-links__item-link {
  color: inherit;
  display: block;
  padding-bottom: calc(1.5 * var(--space-unit));
  padding-top: calc(1.5 * var(--space-unit));
  text-decoration: none;

  @include hocus {
    text-decoration: underline;
  }
}
