// ----------------------------------
// UI Components
// Label
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-label {
  color: var(--colour-grey-80);
  display: block;
  margin-bottom: var(--space-xs);

  // don't show hover state on input when hovering on label
  &:hover ~ input,
  &:hover ~ select,
  &:hover ~ textarea {
    // border colour has to match %text-input-base
    border-color: var(--colour-grey-60);
  }
}

.cc-label.is-disabled {
  color: var(--colour-grey-60);
}
