// ----------------------------------
// UI Components
// ImageBanner
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --min-height: #{map-get($mq-breakpoints, md)};
}

.cc-image-banner {
  margin: 0;
  position: relative;
}

.cc-image-banner__image {
  background-color: var(--colour-amber-05);
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: var(--z-low);

  @include mq(sm) {
    display: block;
    height: auto;

    &:after {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 36.13%; // ratio based on 1600x578
      width: 100%;
    }
  }

  > img {
    height: inherit;
    left: 50%;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;

    @include mq(sm) {
      min-height: 0;
      width: 100%;

      .main & {
        padding-top: 0;
      }
    }
  }
}

.cc-image-banner__caption-container {
  @extend %grid;

  @include mq(md) {
    bottom: 0;
    position: absolute;
    transform: translateY(100%);
    width: 90vw;
  }

  @include mq(xxl) {
    left: 50%;
    transform: translate(-50%, 100%);
    width: var(--container-width);
  }
}

.cc-image-banner__caption {
  @include grid-column(1, 7);
  margin-top: var(--space-xl);

  @include mq(md) {
    @include grid-column(10, 13);
  }
}
