// ----------------------------------
// UI Components
// FileInput
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-file-input {
  height: 0.1px;
  opacity: 0;
  position: absolute;
  width: 0.1px;

  &:focus + .btn--file-input:after {
    border-color: var(--link-colour-focus-outline);
    border-radius: calc(0.5 * var(--space-unit));
    border-style: solid;
    border-width: 2px;
    bottom: calc(-1 * var(--space-unit));
    content: '';
    display: block;
    left: calc(-1 * var(--space-unit));
    position: absolute;
    right: calc(-1 * var(--space-unit));
    top: calc(-1 * var(--space-unit));
  }
}

.cc-file-input[disabled] {
  + .btn {
    color: var(--link-colour-disabled);
    cursor: not-allowed;

    @include hocus {
      color: var(--link-colour-disabled);
    }
  }

  + .btn--primary {
    background-color: var(--colour-grey-20);
  }

  + .btn--secondary {
    background-color: var(--colour-grey-20);
    border-color: var(--link-colour-disabled);
  }

  + .btn--ghost {
    border-color: var(--link-colour-disabled);
  }
}

.btn--file-input {
  margin-bottom: var(--space-sm);
  position: relative;
}

.cc-file-input__text.is-disabled {
  color: var(--colour-grey-60);
}

