/**
 * @file Hack styles.
 */

/**
 * Scaffolding hacks
 * We are using this class in a storybook to imitate the Scaffolding component
 */

/* stylelint-disable-next-line selector-class-pattern */
._u-scaffold-grid-item {
  grid-column-end: 7;
  grid-column-start: 1;
  width: 100%;

  @include mq(sm) {
    grid-column-end: 13;
    grid-column-start: 1;
  }

  @include mq(md) {
    grid-column-end: 10;
    grid-column-start: 4;
  }
}
