@import './src/assets/styles/base';

.acomp {
  align-items: center;
  background: $blue60;
  font-size: rem($base-font-size);
  color: red;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 1;
}

  .acomp__title {
    color: white;
  }

  .acomp__content {
    border: 1px solid black;

    &::before {
      content: "";
    }
  }
