.acomp {
  align-items: center;
  background: var(--colour-grey-80);
  color: var(--colour-grey-05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--space-md);
  padding: var(--space-xl);
  z-index: 1;
}

  .acomp__title {
    color: white;
  }

  .acomp__content {
    border: 1px solid black;

    &::before {
      content: "";
    }
  }
