// ----------------------------------
// UI Components
// Card
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-card {
  background: var(--colour-white);
  margin-bottom: var(--space-lg);
  position: relative;
  
  @include mq(sm) {
    display: flex;
    
    .cc-card__image-wrap,
    .cc-card__content {
      width: 50%;
    }
  }
  
  @include mq($until: md) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(md) {
    &:not(.cc-card--horizontal):last-child {
      margin-bottom: 0;
    }
  }
}


// .cc-card--placeholder is to be used on cards which should not
// be fully styled up as such e.g. promos
.cc-card--placeholder {
  position: relative;
}

// Arrange horizontal cards in a row above `md` breakpoint
.cc-card--horizontal {
  @include mq(md) {
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin: $grid-gutter-md / 2;
    width: calc(33.33% - #{$grid-gutter-md});

    .cc-card__image-wrap,
    .cc-card__content {
      width: 100%;
    }
  }

  @include mq(xl) {
    margin: $grid-gutter-xl / 2;
    width: calc(33.33% - #{$grid-gutter-xl});
  }
}

.cc-card__image-ratio {
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
  }

  @supports (object-fit: cover) {
    height: 100%;
  }
}

.cc-card__image {
  @extend %image-responsive;

  @supports (object-fit: cover) {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.cc-card__content {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  padding: calc(2 * var(--space-unit));
}

.cc-card__type {
  margin-bottom: var(--space-sm);
  margin-top: 0;
}

.cc-card__title {
  font-size: var(--body-lg);
  font-weight: bold;
  margin-bottom: var(--space-sm);
  margin-top: 0;
}

.cc-card__link {
  @extend %list-item-link;
  display: block;

  &:before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.cc-card__link:before {
  box-shadow: 0 2px 6px 0 rgba($colour-grey-60, 0.3);
  transition: box-shadow 0.2s;
}

.cc-card__link:active,
.cc-card__link:focus,
.cc-card__link:hover {
  &:before {
    box-shadow: 0 0 2px 0 rgba($colour-grey-60, 0.3);
  }
}

.cc-card__type,
.cc-card__author,
.cc-card__date {
  color: var(--colour-grey-60);
  font-size: var(--body-md);
  line-height: var(--body-line-height-sm);
}

.cc-card__authors,
.cc-card__author {
  margin: 0;
  padding: 0;
}

.cc-card__authors-label {
  @extend %visually-hidden;
}

.cc-card__meta {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  // container element .cc-card__content is set as flex column with justify set to flex-start
  // to align the content to the top as normal and
  // `margin-top: auto` here pushes this element to the bottom
  margin-top: auto;
}

.cc-card__date {
  margin-left: calc(2 * var(--space-unit));
  text-align: right;
}
