.cc-page-header {
  background: transparent;
}

.cc-page-header--blue {
  background-color: var(--colour-blue-05);
}

.cc-page-header__container {
  padding-top: var(--space-xl);
}

.cc-page-header__breadcrumb {
  margin-right: calc(2 * var(--space-unit));
}

.cc-page-header__breadcrumb + .cc-page-header__dates {
  width: 100%;

  @include mq(md) {
    margin-top: var(--space-md);
  }
}

.cc-page-header__breadcrumb + .cc-page-header__share {
  @include mq(md) {
    margin-top: var(--space-xl);
  }
}

.cc-page-header__dates {
  font-family: var(--font-primary-alt);
  margin: 0;
  overflow: hidden;

  @include mq($until: md) {
    margin-bottom: var(--space-lg);
    order: -1;
  }

  @include mq(md) {
    margin-bottom: var(--space-unit);
  }
}

.cc-page-header__date-label {
  clear: left;
  float: left;
  font-weight: bold;
}

.cc-page-header__date {
  float: left;
  margin-bottom: var(--space-md);
  margin-left: var(--space-xs);
}

.cc-page-header__share {
  margin-left: auto;
}

.cc-page-header__standfirst {
  font-size: var(--heading-md);
  margin-bottom: var(--space-xl);
  text-align: center;

  > p {
    @extend %body-large;
  }

  > :last-child {
    margin-bottom: 0;
  }
}


.cc-page-header__main {
  @include grid-column(1, 7);
  margin-bottom: var(--space-xl);

  @include mq(sm) {
    @include grid-column(1, 13);
  }

  @include mq(md) {
    @include grid-column(4, 10);
  }
}

.cc-page-header__tools {
  @include grid-column(1, 7);
  @include grid-row(2);
  margin-bottom: var(--space-xl);

  @include mq(sm) {
    @include grid-column(1, 13);
  }

  @include mq(md) {
    @include grid-column(1, 4);
    @include grid-row(1);
    margin-top: var(--space-unit);
  }

  @include mq($until: md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.cc-page-header__standfirst {
  @include grid-column(1, 7);
  margin-bottom: var(--space-xl);

  @include mq(sm) {
    @include grid-column(1, 13);
  }

  @include mq(md) {
    @include grid-column(4, 10);
  }
}

.cc-page-header__misc {
  @include grid-column(1, 7);
  @include grid-row(2);
  margin-bottom: var(--space-xl);
  position: relative;

  @include mq(sm) {
    @include grid-column(1, 13);
  }

  @include mq(md) {
    @include grid-column(1, 4);
    @include grid-row(1);
  }
}
