.title-banner__container {
  padding-bottom: var(--space-xl);
  padding-top: var(--space-xl);
  text-align: center;
}

// default white background
.title-banner--transparent {
  background: transparent;
}

// light blue background
.title-banner--blue {
  .title-banner__container {
    background: var(--colour-blue-05);
  }

  .title-banner__standfirst {
    padding-top: var(--space-lg);
  }
}

.title-banner__title {
  margin: 0;
  padding-bottom: var(--space-md);
  @include heading-divider;
  @extend %heading-base;
  @extend %text-xxl;
}

.title-banner__standfirst {
  padding-bottom: var(--space-xl);
  text-align: center;
  @extend %text-md;
}
