.page-header {
  background: transparent;
}

.page-header--blue {
  background-color: var(--colour-blue-05);
}

.page-header__container {
  padding-bottom: var(--space-xl);
  padding-top: var(--space-xl);
  text-align: center;
}

.page-header__title {
  @extend %heading-base;
  @extend %text-xxl;
  @include heading-divider;
  margin: 0;
  padding-bottom: var(--space-md);
}

.page-header__standfirst {
  @extend %text-md;
  padding-bottom: var(--space-xl);
  text-align: center;
}
