// ----------------------------------
// UI Components
// CTA Link
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-cta-link {
  @extend %anchor-inherit;
  @include animated-link($selector: '.btn__text');

  display: block;
  line-height: var(--body-line-height);
  margin-right: calc(6 * var(--space-unit));
  position: relative;

  @include mq(xs) {
    align-items: center;
    display: inline-flex;
  }

  @include hocus {
    .btn__icon {
      transform: translate(var(--space-unit), -50%);
      transition-timing-function: var(--transition-timing-function-in);
      width: calc(2.5 * var(--space-unit));
    }
  }

  &:after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: calc(-6 * var(--space-unit));
    top: 0;
  }

  .btn__icon {
    height: 7px;
    justify-content: flex-end;
    overflow: hidden;
    position: absolute;
    right: calc(-5 * var(--space-unit));
    top: 50%;
    transform: translate(0, -50%);
    transition: all var(--transition-duration) var(--transition-timing-function-out);
    width: calc(3.75 * var(--space-unit));
  }

  .btn__icon svg {
    min-width: calc(3.75 * var(--space-unit));
  }
}
