.icon {
  display: flex;
  flex: 0 0 auto;
  height: 1rem;
  justify-content: center;
  width: 1rem;

  &[aria-hidden='true'] {
    display: flex;
  }

  svg {
    display: block;
    height: 100%;
    max-width: 100%;
  }
}
