// ----------------------------------
// UI Components
// Listing: Card List (aka Static Listing), Link List and Text Listing
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-card-listing,
.cc-listing {
  @include grid-column(1, 7);
  
  @include mq(sm) {
    @include grid-column(2, 12);
  }
  
  @include mq(md) {
    @include grid-column(4, 10);
  }
}

.cc-listing {
  @extend %list-clean;
  border-bottom: 1px solid var(--colour-grey-10);
  width: 100%;
}
  
.cc-listing__item {
  border-top: 1px solid var(--colour-grey-10);
  display: block;
}

.cc-listing__link {
  @extend %anchor-base;
  display: block;
  line-height: 1.5;
  padding: var(--space-unit) calc(5 * var(--space-unit)) var(--space-unit) 0;
  position: relative;
  text-decoration: none;
}

.cc-listing__link-meta {
  color: var(--colour-grey-60);
  font-size: var(--body-xs);
  margin-left: calc(2.5 * var(--space-unit));
}

.cc-listing__link-icon {
  box-sizing: content-box;
  margin-left: auto;
  position: absolute;
  right: var(--space-unit);
  top: 50%;
  transform: translateY(-50%);
  width: 0.375em;
}

// Arrange horizontal cards in a row above `md` breakpoint
.cc-card-listing--horizontal {
  @include mq(md) {
    @include grid-column(1, 13);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -$grid-gutter-md / 2;
  }
  
  // increase grid spacing
  @include mq(xl) {
    margin: -$grid-gutter-xl / 2;
  }
}
