// ----------------------------------
// UI Components
// FeaturedPromo
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-featured-promo {
  @include mq(sm) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.cc-featured-promo__figure {
  display: block;

  @include mq(sm) {
    flex-basis: calc((100% / 12) * 5); // 5/12ths
    flex-shrink: 0;
    margin-right: calc(2.5 * var(--space-unit));
  }

  @include mq(md) {
    flex-basis: 50%;
    margin-right: calc(5 * var(--space-unit));
  }

  @include mq(lg) {
    margin-right: calc(6 * var(--space-unit));
  }
}

.cc-featured-promo__image {
  @extend %img-cover;

  height: 100%;
  margin: 0;
}

.cc-featured-promo__body {
  padding-bottom: calc(2 * var(--space-unit));
  padding-top: calc(2 * var(--space-unit));

  @include mq($until: sm) {
    background-color: var(--colour-amber-05);
    padding-left: calc(2 * var(--space-unit));
    padding-right: calc(2 * var(--space-unit));
  }
}

.cc-featured-promo__meta {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(2 * var(--space-unit));
}

.cc-featured-promo__meta-item {
  margin-right: var(--space-unit);
}

.cc-featured-promo__meta-item--label {
  color: var(--colour-grey-60);
  font-size: var(--body-xxs);
  text-transform: uppercase;
}

.cc-featured-promo__meta-item--flag {
  &:after {
    color: var(--colour-amber-30);
    content: '/';
    margin-left: var(--space-xs);
  }
}

.cc-featured-promo__authors {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--body-sm);
  margin-bottom: 0;
  margin-top: 0;
}

.cc-featured-promo__authors-label {
  @extend %visually-hidden;
}

.cc-featured-promo__author {
  margin-left: 0;

  &:not(:last-child):after {
    content: ', ';
    white-space: pre;
  }
}

.cc-featured-promo__title {
  @extend %heading-base;
  @extend %heading-large;
  @include heading-fancy($space-above: var(--space-lg));
}

.cc-featured-promo__date {
  display: block;
  font-size: var(--body-xxs);
  margin-bottom: calc(2 * var(--space-unit));
  text-transform: uppercase;
}

.cc-featured-promo__link {
  @extend %anchor-inherit;
  @extend %heading-large;
  @include animated-double-underline;

  font-weight: normal;
  line-height: var(--body-line-height);

  /**
   * Imitate the hover state when a user hovers over the image of
   * card.
   */
  .cc-featured-promo__figure:hover + .cc-featured-promo__body &,
  .cc-featured-promo__figure:focus + .cc-featured-promo__body & {
    background-size: 100% 3px;
    border-bottom-color: transparent;
    text-decoration: none;
    transition-timing-function: var(--transition-timing-function-in);
  }
}
