$wc-text: #292929;
$wc-yellow: #ffce3c;
$wc-banner-height-bp-xs: rem(60);
$wc-banner-height-bp-sm: rem(40);

.wc-banner {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.4s ease;

  &.is-active {
    height: $wc-banner-height-bp-xs;

    @include breakpoint(xs) {
      height: $wc-banner-height-bp-sm;
    }
  }
}

.wc-banner__container {
  @extend %text-xs;
  align-items: center;
  bottom: 0;
  background: $wc-yellow;
  display: flex;
  height: $wc-banner-height-bp-xs;
  justify-content: space-between;
  left: 0;
  line-height: var(--heading-line-height);
  padding: rem(5) rem(20);
  position: absolute;
  right: 0;

  @include breakpoint(xs) {
    height: $wc-banner-height-bp-sm;
  }

  @include breakpoint(sm) {
    &:before {
      content: '';
      display: block;
      flex: 0 0 auto;
      width: 5rem;
    }
  }
}

.wc-banner__link {
  align-items: center;
  color: $wc-text;
  display: flex;
  font-family: var(--font-secondary);
  max-width: 66%;

  .icon {
    height: calc(1.5 * var(--space-unit));
    margin-left: var(--space-unit);
    width: calc(1.5 * var(--space-unit));

    @include breakpoint(xs) {
      margin-left: calc(2 * var(--space-unit));
    }
  }
}

.wc-banner__link.wc-banner__link:active,
.wc-banner__link.wc-banner__link:focus,
.wc-banner__link.wc-banner__link:hover {
  color: $wc-text;
  text-decoration: none;
}

.wc-banner__btn-close {
  align-items: center;
  color: $wc-text;
  cursor: pointer;
  display: flex;
  padding: var(--space-unit);
  position: relative;

  .icon {
    height: calc(1.5 * var(--space-unit));
    margin-left: var(--space-unit);
    width: calc(1.5 * var(--space-unit));
  }
}
