// ----------------------------------
// UI Components
// Newsletter Form Item Error
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.newsletter-form__item-error {
  background-color: #ffebeb;
  background-image: none;
  border-radius: calc(0.25 * var(--space-unit));
  color: #d2373f;
  font-size: var(--text-xs);
  margin-top: var(--space-md);
  padding-bottom: var(--space-xs);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  padding-top: var(--space-xs);
  position: relative;
  width: max-content;

  &:after {
    border: 8px solid transparent;
    border-bottom-color: #ffebeb;
    border-top: 0;
    content: '';
    left: 1rem;
    margin-left: -var(--space-unit);
    margin-top: -var(--space-unit);
    position: absolute;
    top: 0.125rem;
  }
}
