// ----------------------------------
// UI Components
// Newsletter Form Item Label
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.newsletter-form__item-label {
  @extend %text-xs;
  margin-bottom: var(--space-xs);
}

.newsletter-form__item-label--email {
  @extend %text-bold;
  display: block;
  height: 20px;
}
