// ----------------------------------
// UI Components
// Search Form
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.search-form {
  border: 1px solid var(--colour-concrete-10);
  margin-bottom: calc(3.75 * var(--space-unit));
  position: relative;
}

.search-form__input {
  @extend %text-input-base;
  font-size: inherit;
  height: calc(6.75 * var(--space-unit));
  padding-left: calc(3.125 * var(--space-unit));
  padding-right: calc(3.125 * var(--space-unit));
  transition: background-color ease var(--transition-duration);

  &:focus {
    background-color: var(--colour-concrete-05);
  }
}

.search-form__btn-submit {
  background-color: var(--colour-blue-50);
  // TODO: #5925 add button-reset styles as a Sass util
  border: 0;
  height: 100%;
  opacity: 0;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: 0;
  transition: opacity ease calc(0.5 * var(--transition-duration));
  width: calc(4.375 * var(--space-unit));

  @include hocus {
    opacity: 1;
  }
}

.search-form__btn-submit .icon {
  color: var(--colour-white);
  height: 72.5%;
  // TODO: add %margin-auto placeholder
  margin-left: auto;
  margin-right: auto;
  width: 72.5%;
}
