// ----------------------------------
// UI Components
// FormFieldset
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-form-fieldset {
  border: 0;
  margin: 0 0 var(--space-lg) 0;
  padding: 0;
}

.cc-form-legend {
  color: var(--colour-grey-80);
  display: block;
  margin-bottom: var(--space-xs);
}
