// ----------------------------------
// UI Components
// Newsletter Signup
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.newsletter-signup {
  background: var(--colour-blue-60);
  color: var(--colour-white);
  padding-bottom: var(--space-xl);
  padding-top: var(--space-xl);
  position: relative;

  /**
   * Inpage nav fix
   * forces position: sticky elements in safari to respect z-index
   */
  transform: translate3d(0, 0, 0);
  z-index: var(--z-low);

  // WYSIWYG content styles
  a {
    color: var(--colour-white);
  }

  a:focus,
  a:hover {
    color: var(--colour-white);
  }

  a:active {
    color: var(--colour-white);
  }
}

.newsletter-signup__title {
  @extend %heading-base;
  @extend %heading-display;
  @include heading-divider($colour: var(--colour-white));
  letter-spacing: 0;
  position: relative;
  text-align: center;
}

.newsletter-signup__intro {
  @extend %body-large;
}

.newsletter-signup .newsletter-form__btn-submit {
  background-color: var(--colour-blue-10);
  color: var(--colour-blue-60);
}

.newsletter-signup .newsletter-form__item--footer {
  font-size: var(--body-md);
  line-height: var(--body-line-height);
}
