// ----------------------------------
// UI Components
// Footer
// Tools
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/* Placeholders */

%footer-nav-link {
  @extend %color-inherit;
  display: inline-block;
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
  text-decoration: none;
}

%social-icon {
  background-size: calc(7 * var(--space-xs));
  border: 1px solid var(--colour-blue-70);
  border-radius: 50%;
  color: var(--colour-white);
  display: block;
  height: calc(7 * var(--space-xs) + 2px); // plus border-width
  margin: var(--space-sm);
  margin: calc(2 * var(--space-xs));
  width: calc(7 * var(--space-xs) + 2px); // plus border-width

  .assistive-text,
  &:hover .assistive-text {
    background: none;
    display: inline-block;
    height: var(--space-xs);
    overflow: hidden;
    text-indent: 100%;
    vertical-align: middle;
  }
}

/* Mixins */

@mixin animated-underline {
  --transition-duration: 0.3s;
  position: relative;

  &:before {
    background-color: var(--colour-white);
    bottom: 0;
    content: '';
    height: calc(0.125 * var(--space-unit));
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all var(--transition-duration) ease-in-out;
    visibility: hidden;
    width: 100%;
  }

  &:hover:before {
    transform: scaleX(1);
    visibility: visible;
  }
}
