// ----------------------------------
// UI Components
// Footer
// Nav
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.footer-nav {
  font-size: var(--body-sm);
}

.footer-nav__grid {
  @extend %list-clean;

  @include mq(sm) {
    display: flex;
    flex-wrap: wrap;
    // (negative) margin gutter hack
    margin-left: calc(-1 * var(--space-lg));
  }
}

.footer-nav__grid-item {
  margin-bottom: var(--space-lg);

  @include mq(sm) {
    // margin gutter hack
    margin-left: var(--space-lg);
    width: calc(25% - var(--space-lg));
  }

  &:last-child {
    // expands :last-child to fill available space in row
    flex-grow: 1;

    @include mq(sm) {
      margin-bottom: 0; // #6171 refactor footer styles
    }
  }
}

.footer-nav__menu-title {
  --transition-duration: 0.3s;

  @extend %color-inherit;
  border-bottom: calc(0.125 * var(--space-unit)) solid rgba(255, 255, 255, 0.2);
  display: block;
  font-weight: bold;
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
  padding-bottom: var(--space-sm);
  padding-top: var(--space-sm);
  text-decoration: none;
  transition: opacity var(--transition-duration), border-color var(--transition-duration);
}

.footer-nav__menu-list {
  @extend %list-clean;
  line-height: var(--heading-line-height);
}

.footer-nav__menu-list-link {
  @extend %color-inherit;
  @include animated-underline($height: calc(0.125 * var(--space-unit)));

  display: inline-block;
  font-size: var(--body-sm);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
  text-decoration: none;
}
