// ----------------------------------
// UI Components
// Footer
// Nav
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-footer-nav {
  font-size: var(--body-sm);
}

.cc-footer-nav__grid {
  @extend %list-clean;

  @include mq(sm) {
    display: flex;
    flex-wrap: wrap;
    // (negative) margin gutter hack
    margin-left: calc(-1 * var(--space-lg));
  }
}

.cc-footer-nav__grid-item {
  margin-bottom: var(--space-lg);

  @include mq(sm) {
    // margin gutter hack
    margin-left: var(--space-lg);
    width: calc(25% - var(--space-lg));
  }

  &:last-child {
    // expands :last-child to fill available space in row
    flex-grow: 1;

    @include mq(sm) {
      margin-bottom: 0; // #6171 refactor footer styles
    }
  }
}

.cc-footer-nav__menu-title {
  @extend %color-inherit;
  @include animated-link;

  display: inline-block;
  font-size: var(--body-md);
  margin-bottom: var(--space-lg);
}

.cc-footer-nav__menu-list {
  @extend %list-clean;
  line-height: var(--heading-line-height);
}

.cc-footer-nav__menu-list-link {
  @extend %color-inherit;
  @include animated-link;

  display: inline-block;
  font-size: var(--body-sm);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
}
