// ----------------------------------
// UI Components
// Contact
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-contact {
  border-bottom: 1px solid var(--colour-grey-10);
  border-top: 1px solid var(--colour-grey-10);
  line-height: var(--body-line-height);
  margin-bottom: -1px;
  margin-top: -1px;
  padding: var(--space-lg) 0;
}

// ensure space is added between a contact and the next item
.cc-contact + :not(.cc-contact) {
  margin-top: var(--space-unit);
}

.cc-contact--nested {
  border: 0;
  padding-bottom: var(--space-sm);
  padding-top: 0;

  .cc-contact__name,
  .cc-contact__institution,
  .cc-contact__item {
    margin-bottom: calc(2 * var(--space-sm));
  }
}

.cc-contact__image {
  @extend %img-responsive;
  float: left;
  height: 215px;
  margin: 0 calc(4 * var(--space-unit)) calc(2 * var(--space-unit)) 0;
  object-fit: cover;
  width: 215px;
}

.cc-contact__name {
  font-size: var(--body-md);
  font-weight: bold;
  margin: 0 0 var(--space-sm);
}

.cc-contact__institution {
  margin: 0 0 var(--space-sm);
}

.cc-contact__item {
  align-items: center;
  display: flex;
  margin: 0 0 var(--space-sm);

  &:last-child {
    margin-bottom: 0;
  }
}

.cc-contact__link {
  //@extend %anchor-base;
  @include animated-double-underline;
}

.cc-contact__link-icon {
  border: 1px solid var(--colour-grey-80);
  border-radius: 50%;
  color: var(--colour-grey-80);
  height: 1.5rem;
  margin-right: calc(2 * var(--space-unit));
  width: 1.5rem;
}
