// ----------------------------------
// UI Tools [Mixins]
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/**
 * Combine :hover and :focus styles.
 *
 * Usage:
 *
 * .c-component {
 *   color: blue;
 *
 *   @include hocus {
 *     color: black;
 *   }
 * }
 *
 */

@mixin hocus {
  &:hover,
  &:focus {
    @content;
  }
}

/**
 * Override default <ul> list style
 *
 * Usage:
 *
 * .c-list {
 *   @include cleanlist;
 * }
 *
 */
@mixin cleanlist {
  margin-bottom: 0;
  margin-left: 0;

  > li {
    list-style: none;
  }
}
