// .cc-sidebar-filter {}

.cc-sidebar-filter__header {
  align-items: center;
  border-bottom: 1px solid var(--colour-grey-10);
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-md);
  padding-bottom: var(--space-md);
}

.cc-sidebar-filter__header-title {
  flex-shrink: auto;
  font-size: var(--heading-sm);
  margin-bottom: 0;
  margin-top: 0;
}

.cc-sidebar-filter__header-meta {
  color: var(--colour-grey-30);
}

.cc-sidebar-filter__tag {
  justify-content: space-between;
  margin-bottom: var(--space-md);
  text-align: left;
  width: 100%;
}

.cc-sidebar-filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cc-sidebar-filter__tag {
  background-color: var(--colour-blue-05);
  color: var(--colour-blue-60);

  @include hocus {
    background-color: var(--colour-blue-05);
    color: var(--colour-blue-60);
  }
}

/**
 * #7382 todo: add Checkbox component
 */

.cc-sidebar-filter__checkbox {
  position: relative;
}

.cc-sidebar-filter__checkbox-input {
  @extend %visually-hidden;
}

.cc-sidebar-filter__checkbox-icon {
  @include middle(y, absolute);

  color: var(--colour-white);
  height: 40%;

  .cc-sidebar-filter__checkbox-input:not(:checked) ~ & {
    @extend %visually-hidden;
  }
}

.cc-sidebar-filter__checkbox-label {
  --checkbox-width: calc(2 * var(--space-unit));
  --checkbox-inner-width: calc(0.75 * var(--space-unit));

  cursor: pointer;
  padding-left: calc(var(--checkbox-width) + var(--space-md));
  position: relative;

  &:before {
    @include middle(y, absolute);

    background-color: var(--colour-white);
    border: 1px solid var(--colour-grey-20);
    content: '';
    height: var(--checkbox-width);
    left: 0;
    width: var(--checkbox-width);
  }

  &:after {
    box-shadow: inset 0 0 0 0;
    height: var(--checkbox-inner-width);
    left: calc((var(--checkbox-width) - var(--checkbox-inner-width)) / 2);
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    width: var(--checkbox-inner-width);
  }

  // Checked checkbox
  .cc-sidebar-filter__checkbox-input:checked ~ &:before {
    background-color: var(--colour-blue-60);
    border: 0;
  }

  // Hovered/Focused checkbox
  .cc-sidebar-filter__checkbox-input:not(:disabled) ~ &:hover:before,
  .cc-sidebar-filter__checkbox-input:not(:disabled):focus ~ &:before {
    border-color: var(--colour-blue-60);
  }

  // Disabled checkbox
  .cc-sidebar-filter__checkbox-input:disabled ~ &:before {
    border-color: var(--colour-grey-20);
  }

  .cc-sidebar-filter__checkbox-input:disabled ~ & {
    color: var(--colour-grey-30);
  }
}
