// .cc-sidebar-filter {}

.cc-sidebar-filter__body {
  .cc-accordion__button {
    font-size: var(--body-md);
  }

  .cc-accordion__button .icon {
    color: var(--colour-black);
  }
}

.cc-sidebar-filter__header {
  align-items: center;
  border-top: 1px solid var(--colour-grey-10);
  display: flex;
  height: calc(8.75 * var(--space-unit));
  justify-content: space-between;
}

.cc-sidebar-filter__header-title {
  flex-shrink: 1;
  font-size: var(--body-lg);
  line-height: var(--body-line-height-sm);
  margin-bottom: 0;
  margin-top: 0;
}

.cc-sidebar-filter__header-meta {
  color: var(--colour-grey-30);
  font-size: var(--body-md);
}

.cc-sidebar-filter__btn-clear {
  font-size: var(--body-md);
}

.cc-sidebar-filter__tags-list {
  border-top: 1px solid var(--colour-grey-10);
  padding-top: var(--space-md);
}

.cc-sidebar-filter__tags-list-item {
  background-color: var(--colour-blue-05);
  color: var(--colour-blue-60);
  font-size: calc(12/16 * var(--text-base-size)); // we don't have this size in _typography.scss
  justify-content: space-between;
  margin-bottom: var(--space-md);
  text-align: left;
  width: 100%;

  @include hocus {
    background-color: var(--colour-blue-05);
    color: var(--colour-blue-60);
  }

  .btn__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.cc-sidebar-filter__list {
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include mq(md) {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
  }
}

.cc-sidebar-filter__list-item {
  margin-bottom: var(--space-sm);
}

.cc-sidebar-filter__checkbox {
  font-size: var(--body-md);

  .cc-checkbox__label {
    padding-bottom: var(--space-md);
  }

  .cc-checkbox__label:before {
    top: 0.27rem;
  }

  .cc-checkbox__icon {
    top: 0.24rem;
  }
}

.cc-sidebar-filter__tag {
  background-color: var(--colour-blue-05);
  color: var(--colour-blue-60);

  @include hocus {
    background-color: var(--colour-blue-05);
    color: var(--colour-blue-60);
  }
}
