// TODO: #5878 - refactor to reduce nesting and tidy up

.header {
  @extend %text-sm;
  background: var(--colour-blue-80);
  box-shadow: calc(0.5 * var(--space-unit)) 0 calc(1.5 * var(--space-unit))
    rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-header);

  @include mq(sm) {
    transition: height 0.3s ease-in-out, transform ease var(--transition-duration);
  }
}

.header__container {
  display: flex;
  height: 100%;
  height: calc(5.5 * var(--space-unit));
  max-width: var(--container-width);
  transition: height 0.3s ease-in-out;

  @include mq(sm) {
    height: calc(10 * var(--space-unit));
    margin: 0 5%;

    .sticky & {
      height: calc(8.5 * var(--space-unit));
    }
  }

  @include mq(md) {
    align-items: center;
  }

  /* global maxWidth + 5% margin on left and right */
  @media (min-width: calc(1.1 * var(--container-width))) {
    margin: 0 auto;
  }
}

.nav {
  @include mq($until: md) {
    background: var(--colour-white);
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform var(--transition-duration),
      0s visibility var(--transition-duration);
    visibility: hidden;
    width: 80vw;
    z-index: var(--z-high);

    &.is-active {
      box-shadow:
        calc(0.5 * var(--space-unit)) 0 calc(1.5 * var(--space-unit))
        rgba(0, 0, 0, 0.1);
      transform: translate3d(0, 0, 0);
      transition:
        transform var(--transition-duration),
        visibility var(--transition-duration);
      visibility: visible;
    }
  }

  @include mq(md) {
    align-items: center;
    display: flex;
    flex: auto;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }
}

.nav__mobile-header {
  display: flex;
  justify-content: space-between;
  min-height: calc(8 * var(--space-unit));
}

.nav__overlay {
  @include mq($until: md) {
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity var(--transition-duration) ease, visibility 0s ease var(--transition-duration);
    visibility: hidden;
    z-index: var(--z-medium);
  }

  &.is-active {
    opacity: 1;
    transition: opacity var(--transition-duration) ease, visibility 0s ease 0s;
    visibility: visible;
  }
}

.nav__toggle {
  align-items: stretch;
  color: var(--colour-white);
  cursor: default;
  display: flex;
  margin-left: auto;
  text-decoration: none;

  .js & {
    pointer-events: none;
  }

  &:hover {
    text-decoration: none;
  }

  @include mq(md) {
    display: none;
  }
}

.nav__toggle:focus + .keyboard-nav {
  max-width: 100px;
  opacity: 1;
  visibility: visible;
}


// Nav buttons

.nav__btn--back {
  @extend %btn-nav-base;
  color: var(--colour-blue-80);
  width: 100%;

  @include mq(md) {
    display: none;
  }

  .icon {
    display: flex;
    justify-content: flex-end;
    margin-right: calc(0.5 * var(--space-unit));
    transform: rotate(180deg);
  }
}

.nav__btn--close {
  @extend %btn-nav-base;
  color: var(--colour-grey-60);

  .icon {
    margin-right: calc(1.5 * var(--space-unit));
  }

  @include mq(md) {
    display: none;
  }
}

.nav__btn--search-mobile {
  @extend %btn-nav-base;
  color: var(--colour-grey-60);

  &:hover {
    color: var(--colour-grey-60);
  }

  .icon {
    margin-left: calc(1.5 * var(--space-unit));
  }

  @include mq(md) {
    color: var(--colour-white);
    margin-right: calc(-4 * var(--space-unit));

    &:hover {
      color: var(--colour-white);
    }
  }

  &.is-disabled {
    opacity: 0;
  }

  &.keyboard-nav {
    color: var(--colour-white);
    height: auto;
    margin-right: calc(2 * var(--space-unit));
    max-width: 0;
    min-height: 0;
    opacity: 0;
    padding-left: 0;
    padding-right: 0;
    pointer-events: none;
    transition: max-width ease var(--transition-duration), opacity ease var(--transition-duration);
    visibility: hidden;

    @include mq(md) {
      display: none;
    }
  }

  &.keyboard-nav:focus {
    max-width: 100px;
    opacity: 1;
    transition: max-width ease var(--transition-duration), opacity ease var(--transition-duration);
    visibility: visible;
  }
}
