.cc-text-card {
  border-top: 1px solid var(--colour-grey-10);
  padding-bottom: var(--space-lg);
  padding-top: var(--space-lg);
  text-align: left;
}

.cc-text-card__title {
  font-size: var(--body-md);
  margin-bottom: var(--space-md);
  margin-top: 0;
}

.cc-text-card__link {
  @include animated-link;
}

.cc-text-card__description,
.cc-text-card__description p {
  margin-bottom: 0;
  margin-top: 0;
}

.cc-text-card__description a {
  @include animated-link;
}

.cc-text-card__description + .cc-text-card__description {
  margin-top: var(--space-md);
}

.cc-text-card__meta {
  font-size: var(--body-sm);
  line-height: var(--body-line-height);
  margin-bottom: var(--space-md);
}

.cc-text-card__meta-label + .cc-text-card__date {
  margin-left: var(--space-xs);

  &:before {
    color: var(--colour-amber-30);
    content: '/';
    margin-right: var(--space-unit);
  }
}

.cc-text-card__closing-date {
  color: var(--meta-text-colour);
}

.cc-text-card__date,
.cc-text-card__date-updated {
  color: var(--meta-text-colour);

  @include mq($until: xs) {
    display: block;
  }
}

.cc-text-card__date-updated {
  @include mq(xs) {
    float: right;
  }
}

.cc-text-card__file-meta {
  margin-bottom: var(--space-md);
}

.cc-text-card__file-meta-download {
  @extend %anchor-base;
  margin-right: var(--space-xs);
}

.cc-text-card__file-meta-size {
  color: var(--meta-text-colour);
  font-size: var(--body-sm);
}

.cc-text-card__list {
  @extend %list-clean;
}

.cc-text-card__institution {
  color: var(--colour-grey-70);
}
