// ----------------------------------
// UI Components
// Full Width Promo
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-full-width-promo {
  --transition-timing-function-in: cubic-bezier(0.23, 1, 0.32, 1);
  --transition-timing-function-out: cubic-bezier(0.55, 0.085, 0.68, 0.53);

  background: var(--colour-amber-05);
  position: relative;
}

.cc-full-width-promo__image {
  @extend %img-cover;
  margin: 0;

  @include mq(sm) {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

.cc-full-width-promo__container {
  @include grid-container;
  padding-bottom: calc(2 * var(--space-unit));
  padding-top: calc(2 * var(--space-unit));

  @include mq(sm) {
    padding-bottom: calc(9 * var(--space-unit));
    padding-top: calc(9 * var(--space-unit));
    position: relative;
    z-index: 1;
  }
}

.cc-full-width-promo__content {
  @include grid-column(1, 7);

  @include mq(sm) {
    @include grid-column(1, 9);
    background: rgba(255, 255, 255, 0.95);
    padding: calc(6 * var(--space-unit)) calc(5 * var(--space-unit));
  }

  @include mq(md) {
    @include grid-column(1, 8);
  }

  @include mq(xl) {
    @include grid-column(1, 7);
  }
}

.cc-full-width-promo__title {
  @extend %heading-display;
  @include heading-fancy;
  font-weight: normal;
  margin-top: 0;
}

.cc-full-width-promo__title-link {
  @extend %anchor-inherit;
  @include animated-underline;
}

.cc-full-width-promo__meta {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(2 * var(--space-unit));
  padding-top: var(--space-unit);
}

.cc-full-width-promo__type {
  color: var(--colour-grey-60);
  font-size: var(--body-xxs);
  margin: 0;
  text-transform: uppercase;

  &:after {
    color: var(--colour-amber-30);
    content: '/';
    padding-left: var(--space-unit);
    padding-right: var(--space-unit);
  }
}

.cc-full-width-promo__authors {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.cc-full-width-promo__authors-label {
  @extend %visually-hidden;
}

.cc-full-width-promo__author {
  font-size: var(--body-md);
  margin: 0;

  + .cc-full-width-promo__author:before {
    content: ', ';
  }
}

.cc-full-width-promo__description {
  margin-bottom: calc(5 * var(--space-unit));
}

.cc-full-width-promo__link {
  margin-bottom: calc(5 * var(--space-unit));
}
