// ----------------------------------
// UI Components
// Gallery
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

@mixin flex-grid() {
  display: flex;
  flex-flow: row wrap;
  margin: calc(-2 * var(--space-unit));
}

%flex-grid-item {
  flex: 0 0 auto;
  padding: calc(2 * var(--space-unit));
}

@mixin flex-grid-item($cols: 1) {
  width: 100%/$cols;
}

.cc-gallery {
  @include grid-container;
}

.cc-gallery__media {
  @include flex-grid;
  @include grid-column(1, 7);
  
  @include mq(sm) {
    @include grid-column(1, 13);
  }
  
  @include mq(md) {
    @include grid-column(4, 13);
  }
}

.cc-gallery__media-item {
  @extend %flex-grid-item;
  @include flex-grid-item(2);
  
  @include mq(sm) {
    @include flex-grid-item(3);
  }
}

.cc-gallery__media-content {
  @extend %image-responsive;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.cc-gallery__media-lead {
  width: 100%;
}

.cc-gallery__media-lead--portrait {
  @include mq(sm) {
    width: 50%;
  }
}

.cc-gallery__media-lead--landscape {
  @include mq(sm) {
    width: 80%;
  }
}
