// ----------------------------------
// UI Components
// Timeline
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

// .cc-timeline {}

.cc-timeline__title {
  @extend %heading-base;
  @extend %heading-large;
}

.cc-timeline__description {
  margin-bottom: var(--space-lg);
}

.cc-timeline__status {
  background-color: var(--colour-cyan-05);
  float: right;
  font-size: var(--body-sm);
  font-weight: bold;
  line-height: 2.14;
  padding-bottom: calc(0.5 * var(--space-unit));
  padding-left: calc(2 * var(--space-unit));
  padding-right: calc(2 * var(--space-unit));
  padding-top: calc(0.5 * var(--space-unit));
  text-transform: uppercase;
}

.cc-timeline__list {
  clear: both;
  list-style: none;
  margin: 0;
  padding: calc(4 * var(--space-unit)) 0;
}

.cc-timeline__item {
  margin: 0;
  padding: 0;
  position: relative;

  @include mq($until: sm) {
    display: flex;
    flex-direction: column;
    padding-left: calc(4 * var(--space-unit));
  }

  &:not(:last-child) {
    padding-bottom: var(--space-xl);
  }

  &:before {
    background-color: var(--colour-grey-60);
    border-radius: 50%;
    content: '';
    height: 0.75rem;
    left: calc(2 * var(--space-unit));
    position: absolute;
    top: 0;
    transform: translate(-50%, 50%);
    width: 0.75rem;

    @include mq(sm) {
      left: auto;
      right: 50%;
      transform: translate(50%, 50%);
    }
  }

  &:not(:last-child):after {
    border-left: 1px solid var(--colour-grey-60);
    bottom: -6px;
    content: '';
    left: calc(2 * var(--space-unit));
    position: absolute;
    top: 6px;
    transform: translateX(-50%);

    @include mq(sm) {
      border-left: 0;
      border-right: 1px solid var(--colour-grey-60);
      left: auto;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.cc-timeline__item-date {
  color: var(--meta-text-colour);
  flex-grow: 0;
  flex-shrink: 0;
  font-size: var(--body-sm);
  line-height: calc(24/14);

  @include mq(sm) {
    float: right;
    margin-bottom: var(--space-unit);
    width: calc(50% - calc(3 * var(--space-unit)));
  }
}

.cc-timeline__item-details {
  @include clearfix;
  margin: 0;

  @include mq(sm) {
    text-align: right;
    width: calc(50% - calc(3 * var(--space-unit)));
  }
}

.cc-timeline__item-title {
  @extend %heading-base;
  font-size: var(--heading-sm);
  font-weight: normal;
  margin: 0;
}

.cc-timeline__item-body {
  color: var(--meta-text-colour);
  font-size: var(--body-sm);

  p {
    margin: 0;
  }
}

.cc-timeline__item-link {
  @extend %anchor-base;
  display: block;
  width: calc(50% - calc(3 * var(--space-unit)));

  @include mq($until: sm) {
    order: 10;
  }

  @include mq(sm) {
    clear: right;
    float: right;
  }
}
