// ----------------------------------
// UI Components
// GalleryLightBox
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

// @import '~pure-react-carousel/dist/react-carousel.es.css';

/**
 * Parent element styles:
 *
 * - Lightbox
 * - Slider Tray Wrap
 * - Slider Tray
 * - Slider
 */

%top-padding {
  padding-top: calc(6 * var(--space-unit));
  
  @include mq(sm) {
    padding-top: calc(12 * var(--space-unit));
  }
}

%bottom-padding {
  padding-bottom: calc(2 * var(--space-unit));

  @include mq(xs) {
    padding-bottom: calc(4 * var(--space-unit));
  }
}

.cc-gallery-lightbox {
  background-color: var(--colour-grey-80);
  border: 0;
  bottom: 0;
  color: var(--colour-white);
  height: 100%;
  left: 0;
  overflow-y: auto;
  // grid-gap: 16px;
  padding: 0 calc(2 * var(--space-unit));
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--z-modal);

  @include mq(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq(md) {
    // grid-gap: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }

  @include mq(xl) {
    // grid-gap: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.cc-gallery-lightbox__carousel {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.cc-gallery-lightbox__slider {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cc-gallery-lightbox__slider-tray-wrap,
.cc-gallery-lightbox__slider-tray {
  height: 100%;
  overflow-x: hidden;

  @include mq(md) {
    overflow-y: hidden;
  }
}

.cc-gallery-lightbox__slider-tray {
  @extend %list-clean;

  display: flex;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
}

/**
 * Start individual slide layout styles
 */

.cc-gallery-lightbox__slide {
  @extend %top-padding;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

.cc-gallery-lightbox__slide-layout {
  // Reset <figure> style
  @extend %margin-0;

  height: 100%;
}

.cc-gallery-lightbox__slide-content {
  height: 100%;
  margin: 0;
}

.cc-gallery-lightbox__image-pane {
  overflow: hidden;
  position: relative;
}

.cc-gallery-lightbox__image-pane-stage {
  margin-bottom: var(--space-lg);
  overflow: hidden;

  @include mq(md) {
    margin-bottom: var(--space-lg);
  }
}

.cc-gallery-lightbox__image-pane-tray {
  display: block;
  margin-bottom: var(--space-lg);

  @include mq(md) {
    flex-basis: 16%;
  }
}

.cc-gallery-lightbox__info-pane {
    
  @include mq(md) {
    overflow-y: scroll;
  }

  // WYSIWYG styles
  > *:first-child {
    margin-top: 0;
  }
}

.cc-gallery-lightbox__info-content {
  margin-bottom: 0;

  @include mq(md) {
    transition:
      opacity 0.4s ease 0.4s,
      visibility 0s linear 0.4s;
  }
}

.a--wide .cc-gallery-lightbox__info-content {
  @include mq(md) {
    opacity: 0;
    transition:
      opacity 0s,
      visibility 0s;
    visibility: hidden;
  }
}

.cc-gallery-lightbox__info-pane--hidden {
  @include mq(md) {
    display: none;
  }
}

/**
 * Start child component styles; these are the 'smaller' components
 * which make up the individual elements within each slide.
 *
 * - Actions
 * - Meta
 * - Download
 * - Nav
 */

.cc-gallery-lightbox__slide-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include mq(md) {
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.cc-gallery-lightbox__slide-actions-toggle {
  @extend %btn-base;
  @extend %btn-size-standard;
  @extend %color-inherit;
}

.cc-gallery-lightbox__slide-actions-toggle .btn__text {
  margin-right: var(--space-md);
}

/**
 * Rotates the chevron icon dependent on the toggle's 'active' state
 * (if active, the info-pane is open).
 */
.cc-gallery-lightbox__slide-actions-toggle .btn__icon {
  margin-left: 0;
  margin-right: 0;

  @include mq(md) {
    transform: rotate(90deg);
  }
}

.cc-gallery-lightbox__slide-actions-toggle--is-active .btn__icon {
  transform: none;

  @include mq(md) {
    transform: rotate(270deg);
  }
}

.cc-gallery-lightbox__meta {
  border-left: 1px solid var(--colour-white);
  font-family: var(--font-tertiary);
  font-size: var(--body-xs);
  -webkit-font-smoothing: auto;
  margin-bottom: calc(2 * var(--space-unit));
  padding-left: var(--space-md);
}

.cc-gallery-lightbox__meta-item {
  display: block;
}

.cc-gallery-lightbox__meta-item-text,
.cc-gallery-lightbox__meta-item-label {
  display: inline;
}

.cc-gallery-lightbox__meta-item-text {
  margin-left: 0;

  // Override styles from wysiwyg
  > p {
    @extend %margin-0;

    display: inline;
  }
}

.cc-gallery-lightbox__download {
  align-items: center;
  display: flex;
  margin-bottom: calc(2 * var(--space-unit));
}

.cc-gallery-lightbox__download-link {
  @extend %btn-size-standard;
  align-items: center;
  display: inline-flex;
}

.cc-gallery-lightbox__download-icon {
  display: inline-block;
  margin-right: var(--space-sm);
  vertical-align: sub;

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.cc-gallery-lightbox__download-filesize {
  @extend %btn-size-standard;
  align-items: center;
  display: inline-flex;
  font-size: var(--body-md);
  margin-left: var(--space-md);
}

.cc-gallery-lightbox__nav {
  align-items: center;
  display: flex;
  
  @include mq($until: md) {
    margin-left: calc(-1.75 * var(--space-unit));
  }

  @include mq(md) {
    margin-right: calc(-1.25 * var(--space-unit));
  }
}

.cc-gallery-lightbox__nav-item {
  @extend %btn-base;
  @extend %btn-size-standard;
  cursor: pointer;
  vertical-align: middle;

  &[disabled] {
    opacity: 0.2;
  }
}

.cc-gallery-lightbox__nav-item--back {
  transform: rotate(180deg);
}

.cc-gallery-lightbox__close {
  @extend %btn-base;
  @extend %btn-size-standard;
  color: inherit;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--z-modal);

  @include mq(xs) {
    right: calc(2 * var(--space-unit));
    top: calc(2 * var(--space-unit));
  }

  @include mq(sm) {
    right: calc(3.5 * var(--space-unit));
    top: calc(3.5 * var(--space-unit));
  }
}

/**
 * Misc.
 */

.cc-gallery-lightbox ::selection {
  color: var(--colour-grey-80);
}

/**
 * Image
 */

.cc-gallery-lightbox__image {  

  // Setting / overriding pure-react-carousel styles
  .carousel__image {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .carousel__image:not(.carousel__zoom-image-overlay) {
    @include mq(sm) {
      background-position: 50% 0 !important;
    }
  }
}

// Lightbox image zoomed

.carousel__zoom-image-overlay {
  background-color: var(--colour-grey-80);
  cursor: zoom-in;
  opacity: 0;
  transition: opacity 0.3s,transform 0.3s;
  z-index: var(--z-low);
}

.carousel__zoom-image-overlay--hovering {
  cursor: zoom-out;
  opacity: 1;
}

/**
 * Social share icons
 */

.cc-gallery-lightbox {
  .cc-social-share__icon {
    border-color: var(--colour-white);
    color: var(--colour-white);
  }

  .cc-social-share__link {
    @include hocus {
      .cc-social-share__icon {
        border-color: var(--colour-grey-40);
        color: var(--colour-grey-40);
      }
    }
  }
}


/**
 * Grid
 *
 * TODO: consolidate styles into BEM class names above
 */
.a {
  display: grid;

  // stylelint-disable value-no-vendor-prefix
  // display: -ms-grid;

  grid-gap: calc(2 * var(--space-unit));
  grid-template-areas:
    'image'
    'controls'
    'info'
    'footer';
  grid-template-rows: calc(90% - (2 * var(--space-unit))) min-content 1fr auto;
  min-width: 100%;
  position: relative;
  transition: min-width ease 0.4s;

  @include mq(xs) {
    grid-gap: calc(4 * var(--space-unit));
    grid-template-areas:
      'image     image'
      'controls  controls'
      'footer    info';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(90% - (4 * var(--space-unit))) min-content 1fr;
  }

  @include mq(md) {
    grid-template-areas:
      'image     image     info'
      'footer    controls  info';
    grid-template-columns: 5fr 2fr 3fr;
    grid-template-rows: 1fr min-content;
  }

  @include mq(xl) {
    grid-gap: calc(10 * var(--space-unit));
  }
}

.a--wide {
  transition: min-width 0.4s ease 0.1s;

  @include mq(md) {
    // change the width to force the info box out of view
    // support for animation of grid-template-columns is very poor
    // default width is 7 10ths - reciprocal of 7/10 = 10/7 ≈ 143%
    min-width: 143%;
  }
}

.b {
  grid-area: image;
}

.c {
  @extend %bottom-padding;
  grid-area: controls;

  @include mq($until: md) {
    // TODO remove spacing between controls and info / footer
  }  
}

.d {
  @extend %bottom-padding;
  grid-area: info;
}

.e {
  @extend %bottom-padding;
  grid-area: footer;
}
