// ----------------------------------
// UI Components
// GalleryLightBox
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

// @import '~pure-react-carousel/dist/react-carousel.es.css';

/**
 * Parent element styles:
 *
 * - Lightbox
 * - Slider Tray Wrap
 * - Slider Tray
 * - Slider
 */

.cc-gallery-lightbox {
  background-color: var(--colour-grey-80);
  border: 0;
  bottom: 0;
  color: var(--colour-white);
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: calc(2 * var(--space-unit));
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--z-modal);

  @include mq(xs) {
    padding: var(--space-xl);
  }
}

.cc-gallery-lightbox__carousel {
  height: 100%;
  position: relative;
}

.cc-gallery-lightbox__slider {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cc-gallery-lightbox__slider-tray-wrap,
.cc-gallery-lightbox__slider-tray {
  height: 100%;
  // overflow: hidden;
  overflow-x: hidden;
}

.cc-gallery-lightbox__slider-tray {
  @extend %list-clean;

  display: flex;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
}

/**
 * Start individual slide layout styles
 */

.cc-gallery-lightbox__slide {
  height: 100%;
  // overflow-y: auto;
  width: 100%;
}

.cc-gallery-lightbox__slide-layout {
  // Reset <figure> style
  @extend %margin-0;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: scroll;

  @include mq(sm) {
    justify-content: space-between;
  }

  @include mq(md) {
    flex-direction: row;
  }
}

.cc-gallery-lightbox__image-pane {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;

  @include mq(sm) {
    flex-basis: 57%;
  }

  @include mq(md) {
    flex-basis: 70%;
  }
}

.cc-gallery-lightbox__image-pane-stage {
  // flex-basis: 90%;
  margin-bottom: var(--space-lg);
  overflow: hidden;

  @include mq(sm) {
    // height: auto;
  }

  @include mq(md) {
    // flex-basis: 84%;
    margin-bottom: var(--space-lg);
    overflow: hidden;
  }
}

.cc-gallery-lightbox__image-pane-tray {
  display: block;
  margin-bottom: var(--space-lg);

  @include mq(md) {
    flex-basis: 16%;
  }
}

.cc-gallery-lightbox__info-pane {
  flex-basis: 50%;
  overflow: scroll;

  @include mq(sm) {
    flex-basis: 43%;
  }

  @include mq(md) {
    flex-basis: 30%;
    padding-left: var(--space-lg);
  }

  // WYSIWYG styles
  > *:first-child {
    margin-top: 0;
  }
}

.cc-gallery-lightbox__info-pane--hidden {
  @include mq(md) {
    display: none;
  }
}

/**
 * Start child component styles; these are the 'smaller' components
 * which make up the individual elements within each slide.
 *
 * - Actions
 * - Meta
 * - Download
 * - Nav
 */

.cc-gallery-lightbox__slide-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-lg);
}

.cc-gallery-lightbox__slide-actions-toggle {
  @extend %color-inherit;
  align-items: center;

  display: flex;
}

.cc-gallery-lightbox__slide-actions-toggle .btn__text {
  margin-right: var(--space-md);
}

/**
 * Rotates the chevron icon dependent on the toggle's 'active' state
 * (if active, the info-pane is open).
 */
.cc-gallery-lightbox__slide-actions-toggle .btn__icon {
  margin-left: 0;
  margin-right: 0;
  transform: rotate(180deg);

  @include mq(md) {
    transform: rotate(90deg);
  }
}

.cc-gallery-lightbox__slide-actions-toggle--is-active .btn__icon {
  transform: none;

  @include mq(md) {
    transform: rotate(270deg);
  }
}

.cc-gallery-lightbox__meta {
  border-left: 1px solid var(--colour-white);
  font-family: var(--font-tertiary);
  font-size: var(--body-xs);
  -webkit-font-smoothing: auto;
  margin-bottom: var(--space-lg);
  padding-left: var(--space-md);
}

.cc-gallery-lightbox__meta-item {
  display: block;
}

.cc-gallery-lightbox__meta-item-text,
.cc-gallery-lightbox__meta-item-label {
  display: inline;
}

.cc-gallery-lightbox__meta-item-text {
  margin-left: 0;

  // Override styles from wysiwyg
  > p {
    @extend %margin-0;

    display: inline;
  }
}

.cc-gallery-lightbox__download {
  color: var(--color-white);
}

.cc-gallery-lightbox__download-icon {
  display: inline-block;
  margin-right: var(--space-sm);
  vertical-align: sub;
}

.cc-gallery-lightbox__download-filesize {
  font-size: var(--body-md);
  margin-left: var(--space-md);
}

.cc-gallery-lightbox__nav-item {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  &[disabled] {
    opacity: 0.2;
  }
}

.cc-gallery-lightbox__nav-item--back {
  transform: rotate(180deg);
}

.cc-gallery-lightbox__nav-item--count {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.cc-gallery-lightbox__close {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  height: calc(5.5 * var(--space-unit));
  justify-content: center;
  position: absolute;
  right: calc(-1.75 * var(--space-unit));
  top: calc(-1.75 * var(--space-unit));
  width: calc(5.5 * var(--space-unit));
  z-index: var(--z-modal);
}

/**
 * Misc.
 */

.cc-gallery-lightbox ::selection {
  color: var(--colour-grey-80);
}

/**
 * Zoom
 */

:root {
  --lightbox-image-height: calc(100vh - (4 * var(--space-unit)) - (4 * var(--space-unit)) - calc(2 * var(--space-unit)));
  --lightbox-image-width: calc(100vw - (4 * var(--space-unit)));

  @include mq(xs) {
    --lightbox-image-height: calc(100vh - (2 * var(--space-xl)) - (4 * var(--space-unit)) - var(--space-lg));
    --lightbox-image-width: calc(100vw - (2 * var(--space-xl)));
  }
  
  @include mq(sm) {
    --lightbox-image-height: calc(100vh - (2 * var(--space-xl)) - (4 * var(--space-unit)) - var(--space-lg));
    --lightbox-image-width: calc(100vw - (2 * var(--space-xl)));
  }

  @include mq(md) {
    // TODO: basic setting of x% of viewport height works as a default
    // but this will likely need to be calculated using javascript for larger credits
    --lightbox-image-height: calc(80vh - (2 * var(--space-xl)));
    --lightbox-image-width: calc(70vw - (2 * var(--space-xl)));
  }
}

// Zoom element
.cc-gallery-lightbox__image {
  max-height: var(--lightbox-image-height);
  max-width: var(--lightbox-image-width);
}

.tools {
  position: absolute;
  z-index: var(--z-low);
}

// Zoom wrapper
.react-transform-component {
  height: var(--lightbox-image-height) !important;
  width: var(--lightbox-image-width) !important;
}

.react-transform-element {
  cursor: grab;
}

/**
 * Social share icons
 */
.cc-gallery-lightbox {
  .cc-social-share__icon {
    border-color: var(--colour-white);
    color: var(--colour-white);
  }

  .cc-social-share__link {
    @include hocus {
      .cc-social-share__icon {
        border-color: var(--colour-grey-40);
        color: var(--colour-grey-40);
      }
    }
  }
}
