// ----------------------------------
// UI Components
// Checkbox
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

// Hide the <input /> element
.cc-checkbox__input-element {
  @extend %visually-hidden;
}

.cc-checkbox {
  position: relative;
}

.cc-checkbox__label {
  --checkbox-width: calc(2 * var(--space-unit));
  --checkbox-inner-width: calc(0.75 * var(--space-unit));

  cursor: pointer;
  display: inline-block;
  padding-left: calc(var(--checkbox-width) + var(--space-md));
  position: relative;

  &:before {
    background-color: var(--colour-white);
    border: 1px solid var(--colour-grey-20);
    border-radius: 2px;
    content: '';
    height: var(--checkbox-width);
    left: 0;
    position: absolute;
    top: 0.37rem;
    width: var(--checkbox-width);
  }

  &:after {
    box-shadow: inset 0 0 0 0;
    height: var(--checkbox-inner-width);
    left: calc((var(--checkbox-width) - var(--checkbox-inner-width)) / 2);
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    width: var(--checkbox-inner-width);
  }

  // Checked checkbox
  .cc-checkbox__input-element:checked ~ &:before {
    background-color: var(--colour-blue-60);
    border: 0;
  }

  // Hovered checkbox
  .cc-checkbox__input-element:not(:disabled) ~ &:hover:before {
    border-color: var(--colour-grey-80);
  }

  /**
   * @see focus-visible: https://css-tricks.com/focus-visible-and-backwards-compatibility/
   */
  // Focused checkbox
  .cc-checkbox__input-element:not(:disabled):focus ~ &:before {
    box-shadow: 0 0 0 2px var(--colour-blue-30);
  }

  /**
   * Browsers will ignore the entire block when using a pseudo-class they don’t understand/support
   */
  .cc-checkbox__input-element:not(:disabled):focus:not(:focus-visible) ~ &:before {
    // undo all the above focused styles
    box-shadow: none;
  }

  .cc-checkbox__input-element:not(:disabled):focus-visible ~ &:before {
    box-shadow: 0 0 0 2px var(--colour-blue-30);
  }

  // Default checkbox
  .cc-checkbox__input-element ~ &:before {
    border-color: var(--colour-grey-40);
  }

  // Disabled checkbox
  .cc-checkbox__input-element:disabled ~ &:before {
    background-color: var(--colour-white);
    border: 1px solid var(--colour-grey-20);
  }

  .cc-checkbox__input-element:disabled ~ & {
    color: var(--colour-grey-30);
  }
}

.cc-checkbox__icon {
  color: var(--colour-white);
  left: 0.227rem;
  pointer-events: none;
  position: absolute;
  top: 0.34rem;
  width: 0.56rem;

  .cc-checkbox__input-element:not(:checked) ~ & {
    @extend %visually-hidden;
  }
}
