// ----------------------------------
// UI Components
// Video
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-video__inner {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    display: block;
    padding-top: percentage(9/16);
  }
}

.cc-video__iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.cc-video__caption {
  font-size: var(--body-sm);
  margin-bottom: 0;
}
