// ----------------------------------
// UI Components
// Grid
// Settings
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

// TODO: #5906 discuss approach to grid/layout overall

:root {
  --grid-max-width: 1344px;
}

// 8px spacing unit based on (16px / 2)
$grid-space-unit: 8px;

// Gutter
$grid-gutter-xs: $grid-space-unit * 1.5;
$grid-gutter-sm: $grid-space-unit * 2.5;
$grid-gutter-md: $grid-space-unit * 5;
$grid-gutter-lg: $grid-gutter-md;
$grid-gutter-xl: $grid-space-unit * 6;
