// ----------------------------------
// UI Components
// Grid
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.grid {
  @include grid-container;

  // Columns: 6 / Gutter: 12px
  @include grid-columns($grid-gutter-xs, grid-repeat(6, 1fr));
  @include grid-rows(0, 1fr);
  display: grid;
  // stylelint-disable value-no-vendor-prefix
  display: -ms-grid;

  @include mq(sm) {
    // Columns: 12 / Gutter: 20px
    @include grid-columns($grid-gutter-sm);
  }

  @include mq(md) {
    // Columns: 12 / Gutter: 40px
    @include grid-columns($grid-gutter-md);
  }

  @include mq(xl) {
    // Columns: 12 / Gutter: 48px
    @include grid-columns($grid-gutter-xl);
  }
}

// Reset nested grids
.grid--nested {
  @include grid-column(1, 13);
  margin-left: 0;
  margin-right: 0;

  > * {
    @include grid-column(1, 13);
  }
}
