// ----------------------------------
// UI Tools
// Extends
// a11y
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/**
 * Hide content visually (for screen-readers)
 *
 * Usage:
 *
 * .selector {
 *   @extend %visually-hidden;
 * }
 *
 */

%visually-hidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
