// ----------------------------------
// UI Tools
// Extends
// Button
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

%btn-base {
  align-items: center;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  padding: 0;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

%btn-size-standard {
  height: calc(5.5 * var(--space-unit));
  justify-content: center;
  min-height: calc(5.5 * var(--space-unit));
  min-width: calc(5.5 * var(--space-unit));
  text-align: center;
}

%btn-nav-base {
  @extend %btn-base;
  font-size: var(--nav-text-size);
  height: calc(8 * var(--space-unit));
  justify-content: flex-start;
  min-height: calc(8 * var(--space-unit));
  padding: 0 calc(2 * var(--space-unit));
  transition: opacity ease var(--transition-duration);
}
