// ----------------------------------
// UI Tools
// Extends
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

// Background Colours

%bg-colour-black {
  background-color: var(--colour-black);
}

%bg-colour-white {
  background-color: var(--colour-white);
}

%bg-colour-blue-90 {
  background-color: var(--colour-blue-90);
}

%bg-colour-blue-80 {
  background-color: var(--colour-blue-80);
}

%bg-colour-blue-70 {
  background-color: var(--colour-blue-70);
}

%bg-colour-blue-60 {
  background-color: var(--colour-blue-60);
}

%bg-colour-blue-50 {
  background-color: var(--colour-blue-50);
}

%bg-colour-blue-10 {
  background-color: var(--colour-blue-10);
}

%bg-colour-blue-05 {
  background-color: var(--colour-blue-05);
}

%bg-colour-cyan20 {
  background-color: var(--colour-cyan20);
}

%bg-colour-cyan05 {
  background-color: var(--colour-cyan05);
}

%bg-colour-concrete-90 {
  background-color: var(--colour-concrete-90);
}

%bg-colour-concrete-80 {
  background-color: var(--colour-concrete-80);
}

%bg-colour-concrete-70 {
  background-color: var(--colour-concrete-70);
}

%bg-colour-concrete-60 {
  background-color: var(--colour-concrete-60);
}

%bg-colour-concrete-50 {
  background-color: var(--colour-concrete-50);
}

%bg-colour-concrete-40 {
  background-color: var(--colour-concrete-40);
}

%bg-colour-concrete-30 {
  background-color: var(--colour-concrete-30);
}

%bg-colour-concrete-20 {
  background-color: var(--colour-concrete-20);
}

%bg-colour-concrete-10 {
  background-color: var(--colour-concrete-10);
}

%bg-colour-concrete-05 {
  background-color: var(--colour-concrete-05);
}
