// ----------------------------------
// UI Tools
// Extends
// Forms
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/**
 * Set some reset styles on an <input> or <textarea>.
 *
 * Usage:
 *
 * .an-input-selector {
 *   @extend %text-input-reset;
 * }
 *
 */

%text-input-reset {
  border: 0;
  box-sizing: border-box;
  color: var(--colour-black);
  width: 100%;

  @include mq(md) {
    font-size: var(--body-md);
  }

  &::placeholder {
    color: var(--text-colour);
  }
}

/**
 * Set some base styles on an <input> or <textarea>.
 *
 * Usage:
 *
 * .an-input-selector {
 *   @extend %text-input-base;
 * }
 *
 */

%text-input-base {
  @extend %text-input-reset;

  border: 1px solid var(--colour-grey-60);
  border-radius: calc(0.25 * var(--space-unit));
  display: block;
  letter-spacing: var(--body-letter-spacing);
  padding-bottom: calc(1.5 * var(--space-unit));
  padding-left: calc(2 * var(--space-unit));
  padding-right: calc(2 * var(--space-unit));
  padding-top: calc(1.5 * var(--space-unit));

  &:hover {
    border-color: var(--colour-grey-90);
  }

  &:focus {
    border-color: var(--colour-blue-60);
  }
}

/**
 * Use custom checkbox styles
 *
 * Usage:
 *
 * .an-input-checkbox-selector {
 *   @extend %checkbox;
 * }
 *
 */

%checkbox {
  @extend %visually-hidden;

  + label {
    cursor: pointer;
    display: block;
    padding-left: 2rem;
    position: relative;
  }

  + label:before {
    border: solid 1px #c5c5c5;
    content: '';
    display: inline-block;
    height: 16px;
    left: 0;
    margin-right: 0.625rem;
    position: absolute;
    top: 1px;
    transition: border-color 0.3s;
    vertical-align: baseline;
    width: 16px;
  }

  &:checked + label:before {
    @extend %icon-checkbox-tick;
    background-color: #ed6b00;
    background-position: 50% 40%;
    background-size: 10px;
    border-color: transparent;
    box-shadow: none;
  }
}
