// ----------------------------------
// UI Tools
// Extends
// images
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/**
 * Styles <img /> child to conform to size of containing element
 */
%img-responsive {
  > img {
    display: block;
    width: 100%;
  }
}

/**
 * Styles <img /> child to scale of the parent element, using object-fit.
 */
%img-cover {
  > img {
    @supports (object-fit: cover) {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }
}
