// ----------------------------------
// UI Tools
// Extends
// List
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/**
 * Override default <ul> list style
 *
 * Usage:
 *
 * .ul/ol-selector {
 *   @extend %list-clean;
 * }
 *
 */

%list-clean {
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}
