
// ----------------------------------
// UI Tools
// Extends
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

%anchor-base {
  color: var(--colour-blue-60);

  &:hover {
    color: var(--colour-blue-70);
  }
  
  &:active {
    color: var(--colour-blue-50);
  }
}

/* Font Sets */

%heading-base {
  line-height: var(--heading-line-height);
  margin: 0;
}

/* Wellcome Design System type styles */
// equivalent to <h1>
%heading-super {
  font-size: var(--heading-xxl);
  letter-spacing: var(--heading-letter-spacing);
}

// equivalent to <h2>
%heading-hero {
  font-size: var(--heading-xl);
  letter-spacing: var(--heading-letter-spacing);
  margin-bottom: var(--space-lg);
}

// equivalent to <h3>
%heading-display {
  font-size: var(--heading-lg);
  margin-bottom: var(--space-lg);
}

// equivalent to <h4>
%heading-large {
  font-size: var(--heading-md);
  margin-bottom: var(--space-md);
}

// equivalent to <h5>
%heading-regular {
  font-size: var(--heading-sm);
  margin-bottom: var(--space-md);
}

// equivalent to <h6>
%heading-small {
  font-size: var(--heading-xs);
  margin-bottom: var(--space-md);
}

// equivalent to <p>
%body-large {
  margin-bottom: calc(4 * var(--space-unit));
  // D7 override
  margin-top: 0;
}

// equivalent to <p> in infobox
%body-regular {
  margin-bottom: calc(2 * var(--space-unit));
  // D7 override
  margin-top: 0;
}

/* Lists */

%list-base {
  margin: 0 0 calc(4 * var(--space-unit));
  padding-left: calc(2 * var(--space-unit));
}

/* Alignment */

%text-center {
  text-align: center;
}

%text-right {
  text-align: right;
}

/* Weights */

%text-bold {
  font-weight: bold;
}
