
// ----------------------------------
// UI Tools
// Extends
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

%anchor-base {
  color: var(--link-colour);
  text-decoration: underline;

  &:hover {
    color: var(--link-colour-hover);
  }

  &:active {
    color: var(--link-colour-active);
  }

  &:focus {
    color: var(--link-colour-active);
    outline-color: var(--link-colour-focus-outline);
    outline-offset: calc(0.5 * var(--space-unit));
  }

  [disabled],
  &:not([href]) {
    color: var(--link-colour-disabled);
  }
}

%anchor-reverse {
  text-decoration: none;

  @include hocus {
    text-decoration: underline;
  }
}

%anchor-inherit {
  color: inherit;

  @include hocus {
    color: inherit;
  }
}

%list-item-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--link-colour-hover);
    text-decoration: underline;
  }

  &:focus,
  &:active {
    color: var(--link-colour-active);
    text-decoration: underline;
  }

  &:focus {
    outline-color: var(--link-colour-focus-outline);
  }

  [disabled],
  &:not([href]) {
    color: var(--link-colour-disabled);
  }
}

/* Font Sets */

%heading-base {
  line-height: var(--heading-line-height);
  margin: 0;
}

/* Wellcome Design System type styles */
// equivalent to a theoretical <h0>
%heading-super {
  font-size: var(--heading-xxl);
  letter-spacing: var(--heading-letter-spacing);
}

// equivalent to <h1>
%heading-hero {
  font-size: var(--heading-xl);
  letter-spacing: var(--heading-letter-spacing);
  margin-bottom: var(--space-lg);
}

// equivalent to <h2>
%heading-display {
  font-size: var(--heading-lg);
  margin-bottom: var(--space-lg);
}

// equivalent to <h3>
%heading-large {
  font-size: var(--heading-md);
  margin-bottom: var(--space-md);
}

// equivalent to <h4>
%heading-regular {
  font-size: var(--heading-sm);
  margin-bottom: var(--space-md);
}

// equivalent to <h5>
%heading-small {
  font-size: var(--heading-xs);
  margin-bottom: var(--space-md);
}

// equivalent to <p>
%body-large {
  margin-bottom: calc(4 * var(--space-unit));
  // D7 override
  margin-top: 0;
}

// equivalent to <p> in infobox
%body-regular {
  margin-bottom: calc(2 * var(--space-unit));
  // D7 override
  margin-top: 0;
}

/* Alignment */

%text-center {
  text-align: center;
}

%text-right {
  text-align: right;
}

/* Weights */

%text-bold {
  font-weight: bold;
}
