// ----------------------------------
// UI Components
// ImageCard
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-image-card {
  margin-bottom: var(--space-lg);

  @include mq($until: md) {
    display: flex;
    flex-wrap: nowrap;
  }

  @include mq(md) {
    flex-basis: calc(33.33% - #{$grid-gutter-md});
    flex-grow: 0;
    flex-shrink: 0;
    margin: $grid-gutter-md / 2;
    padding-bottom: var(--space-unit);
  }

  @include mq(xl) {
    flex-basis: calc(33.33% - #{$grid-gutter-xl});
    margin: $grid-gutter-xl / 2;
  }
}

.cc-image-card__figure {
  display: block;
  flex-basis: 33.33%;
  flex-shrink: 0;

  @include mq(md) {
    margin-bottom: calc(2 * var(--space-unit));
  }
}

.cc-image-card__image {
  @extend %img-responsive;

  margin: 0;
}

.cc-image-card__body {
  flex-grow: 1;
  padding-left: var(--space-unit);

  @include mq(sm) {
    padding-left: calc(2 * var(--space-unit));
  }

  @include mq(md) {
    padding-left: 0;
  }
}

.cc-image-card__title {
  letter-spacing: 0;
}

.cc-image-card__meta {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(0.5 * var(--space-unit));

  @include mq(sm) {
    margin-bottom: calc(1.5 * var(--space-unit));
  }

  @include mq(md) {
    margin-bottom: calc(2 * var(--space-unit));
  }
}

.cc-image-card__meta-item {
  margin-right: var(--space-xs);
}

.cc-image-card__meta-item--label {
  color: var(--colour-grey-60);
  font-size: var(--body-xs);
  text-transform: uppercase;
}

.cc-image-card__meta-item--flag {
  &:after {
    color: var(--colour-amber-30);
    content: '/';
    margin-left: var(--space-xs);
  }
}

.cc-image-card__authors {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--body-md);
  margin-bottom: 0;
  margin-top: 0;
}

.cc-image-card__authors-label {
  @extend %visually-hidden;
}

.cc-image-card__author {
  margin-left: 0;

  &:not(:last-child):after {
    content: ', ';
    white-space: pre;
  }
}

.cc-image-card__title {
  @extend %heading-large;

  font-weight: normal;

  @include mq($until: sm) {
    margin-bottom: calc(0.5 * var(--space-unit));
  }
}

.cc-image-card__link {
  @extend %anchor-inherit;
  @include animated-underline;

  /**
   * Imitate the hover state when a user hovers over the image of
   * card.
   */
  .cc-image-card__figure:hover + .cc-image-card__body &,
  .cc-image-card__figure:focus + .cc-image-card__body & {
    background-size: 100% 2px;
    text-decoration: none;
    transition-timing-function: var(--transition-timing-function-in);
  }
}

.cc-image-card__date {
  display: block;
  font-size: var(--body-xs);
  text-transform: uppercase;
}
