// ----------------------------------
// UI Components
// Tableau
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-tableau {
  margin-bottom: calc(6 * var(--space-unit));

  /* stylelint-disable selector-class-pattern */
  .tableauPlaceholder {
    min-height: 627px;
    position: relative;
    width: 100%;
  }

  .tableauViz {
    display: none;
    min-height: 627px;
    width: 100%;
  }
  /* stylelint-enable selector-class-pattern */
}

// TODO https://github.com/wellcometrust/corporate/issues/7234
// awaiting data for toggling extra wide
// .cc-tableau__chart {
//   @include grid-column(1, 7);

//   @include mq(sm) {
//     @include grid-column(1, 13);
//   }

//   @include mq(md) {
//     @include grid-column(4, 10);
//   }
// }

// .cc-tableau__chart--wide {
//   @include mq(md) {
//     @include grid-column(4, 13);
//   }
// }

.cc-tableau__download-file {
  margin-top: var(--space-md);
}

.cc-tableau__title {
  font-size: var(--body-md);
  font-weight: bold;
  margin-bottom: var(--space-sm);
  margin-top: 0;
}
