// ----------------------------------
// UI Components
// Media (in-page Image and Video)
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-media {
  @include grid-container;
  margin-bottom: 0;
  margin-top: 0;
}

.cc-media__image,
.cc-media__video {
  @include grid-column(1, 7);
  width: 100%;

  @include mq(sm) {
    @include grid-column(2, 12);
  }

  @include mq(md) {
    @include grid-column(4, 10);
  }
}

.cc-media__caption {
  @include grid-column(1, 7);

  @include mq(sm) {
    @include grid-column(2, 12);
  }

  @include mq(md) {
    @include grid-column(10, 13);
  }
}

.cc-media__caption-detail {
  display: block;
}

.cc-media__credit {
  display: block;
}

.widescreen-container {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    display: block;
    padding-top: percentage(9/16);
  }
}

.widescreen-media {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
