// ----------------------------------
// UI Components
// Footer
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-footer {
  background-color: var(--colour-amber-10);
  color: var(--body-text-colour);
  position: relative;

  /**
   * Inpage nav fix
   * forces position: sticky elements in safari to respect z-index
   */
  transform: translate3d(0, 0, 0);
  z-index: var(--z-low);
}

.cc-footer__container {
  @extend %container;
}

.cc-footer__mission-statement {
  @extend %heading-base;
  @extend %heading-hero;
  @include heading-fancy;

  font-family: var(--font-secondary);
  margin-bottom: 0;
  padding-bottom: var(--space-xl);
  padding-top: var(--space-xl);

  @include mq(md) {
    max-width: 55%;
  }
}

.cc-footer__meta {
  border-top: 1px solid var(--colour-amber-20);
  padding-bottom: calc(4 * var(--space-unit));
  padding-top: calc(3 * var(--space-unit));

  @include mq(sm) {
    align-items: center;
    display: flex;
    padding-bottom: calc(3 * var(--space-unit));
  }
}

.cc-footer__logo.logo {
  fill: var(--colour-grey-80);
  height: calc(6.25 * var(--space-unit));
  position: static;
}

.cc-footer__top {
  @include mq(sm) {
    align-self: center;
    flex-grow: 1;
    text-align: right;
  }
}

.cc-footer__top-link {
  @include animated-link;

  display: inline-block;
  font-size: var(--body-xs);
  padding-bottom: 0;
  position: absolute;
  right: 0;
  top: 30px;

  @include mq(sm) {
    position: static;
  }
}
