// ----------------------------------
// UI Components
// Footer
// Social
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-footer-social {
  display: flex;
  //transform: translateX(-(var(--space-md)));
}

.cc-footer-social-item {
  background-size: calc(7 * var(--space-xs));
  border: 1px solid var(--colour-grey-80);
  border-radius: 50%;
  color: var(--colour-grey-80);
  display: block;
  height: calc(7 * var(--space-xs) + 2px); // plus border-width
  margin: var(--space-xs);
  transition: ease var(--transition-duration);
  transition-property: border-color, color;
  width: calc(7 * var(--space-xs) + 2px); // plus border-width

  @include hocus {
    border-color: var(--colour-amber-30);
    color: var(--colour-amber-30);
  }
}

.cc-footer-social-item__icon {
  height: 100%;
  width: 100%;

  > svg {
    height: 100%;
    width: 100%;
  }
}
