// ----------------------------------
// UI Components
// FormFieldHint
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-form-field-hint {
  color: var(--meta-text-colour);
  font-size: var(--body-sm);
  margin-bottom: var(--space-xs);

  p {
    margin: 0;
  }
}
