.slideshow-hero {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--space-xl);
  position: relative;
  
  @include mq($until: sm) {
    padding-top: 56.25vw;
  }

  @include mq(sm) {
    min-height: calc(100vh - (18 * var(--space-unit)));
  }
}

.slideshow-hero__container {
  @include mq(sm) {
    background: var(--colour-cyan-05);
  }
}

// TODO - rename class
.grid-one {
  @include grid-column(1, 7);
  
  @include mq($until: sm) {
    position: relative;
    
    // used as background to expand edges to reach to screen edges of parent grid
    &:before {
      background: var(--colour-cyan-05);
      bottom: 0;
      content: '';
      display: block;
      left: -5vw;
      position: absolute;
      right: -5vw;
      top: 0;
      z-index: -1;
    }
  }
  
  @include mq(sm) {
    @include grid-column(1, 7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: calc(100vh - 8rem);
    
    // spacer helps to vertically center content
    &:before {
      content: '';
      display: block;
      height: calc(4 * var(--space-unit));
      margin-top: calc(8 * var(--space-unit));
    }
  }
  
  @include mq(lg) {
    @include grid-column(1, 6);
  }
}

.slideshow-hero__content {
  margin-bottom: var(--space-xl);
  margin-top: var(--space-xl);
}

.slideshow-hero__btn-skip {
  @extend %btn-base;
  color: var(--colour-blue-60);
  height: calc(4 * var(--space-unit));
  justify-content: center;
  margin-bottom: var(--space-xl);
  transition: opacity ease var(--transition-duration);
  width: 100%;
  
  @include mq(sm) {
    justify-content: flex-start;
  }
}

.slideshow-hero__btn-skip .icon {
  display: flex;
  height: calc(2.5 * var(--space-unit));
  justify-content: center;
  margin: 0;
  transform: rotate(90deg);
  width: calc(2.5 * var(--space-unit));
}


// TODO - rename class
.slideshow {
  @include grid-column(1, 7);

  display: grid;
  // stylelint-disable value-no-vendor-prefix
  display: -ms-grid;

  @include mq(sm) {
    bottom: 0;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }
}


// --------------------

// TODO replace animation duration with css variables
.image-wrapper {

  grid-column: 1;
  grid-row: 1;
  height: 100%;
  margin: 0;
  opacity: 0;
  transition:
    opacity 0.4s ease,
    visibility 0s linear 0.4s;
  visibility: hidden;
    
  &.is-active {
    display: block;
    opacity: 1;
    transition:
      opacity 0.4s ease,
      visibility linear 0s;
    visibility: visible;
  }
}

// TODO - rename class
.foo {
  height: 100%;
  width: 100%;
  
  @include mq($until: sm) {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.image-frame {
  overflow: hidden;
  
  @include mq($until: sm) {
    height: 56.25vw;
  }
  
  @include mq(sm) {
    height: 100%;
  }
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.image-caption {
  border-left: 1px solid var(--colour-grey-70);
  color: var(--colour-grey-70);
  font-size: 11px; // TODO
  margin-top: calc(2 * var(--space-unit));
  padding-left: calc(2 * var(--space-unit));

  @include mq(sm) {
    max-width: 45vw;
  }

  @include mq(xl) {
    max-width: 672px;
  }
  
  &:before {
    content: 'Above';
  }
}

.image-caption-detail {
  display: block;
  font-family: var(--font-tertiary);
  font-weight: bold;
}

.image-credit {
  display: block;
  font-family: var(--font-tertiary);
}
