.slideshow-hero {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--space-xl);
  position: relative;
  
  @include mq($until: sm) {
    padding-top: 56.25vw;
  }

  @include mq(sm) {
    min-height: calc(100vh - (18 * var(--space-unit)));
  }
}

.slideshow-hero__container {
  @include mq(sm) {
    background: var(--colour-cyan-05);
    position: relative;
  }
}

// browser sniffing to apply Safari only fix
// because sometimes you just gotta :(
.is-safari .slideshow-hero__grid {
  @include mq(sm) {
    position: relative;
  }
}

.slideshow-hero__content {
  @include grid-column(1, 7);
  
  @include mq($until: sm) {
    position: relative;
    z-index: 1;
    
    // used as background to expand edges to reach to screen edges of parent grid
    &:before {
      background: var(--colour-cyan-05);
      bottom: 0;
      content: '';
      display: block;
      left: -5vw;
      position: absolute;
      right: -5vw;
      top: 0;
      z-index: -1;
    }
  }
  
  @include mq(sm) {
    @include grid-column(1, 7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: calc(100vh - 8rem);
    
    // spacer helps to vertically center content
    &:before {
      content: '';
      display: block;
      height: calc(4 * var(--space-unit));
      margin-top: calc(8 * var(--space-unit));
    }
  }
  
  @include mq(lg) {
    @include grid-column(1, 6);
  }
}

.slideshow-hero__copy {
  font-size: var(--heading-md);
  padding: var(--space-lg) 0; 
}

.slideshow-hero__title {
  @extend %heading-base;
  @extend %heading-super;

  @include mq($until: sm) {
    font-size: rem(21);
  }
}

.slideshow-hero__btn-skip {
  @extend %btn-base;
  color: var(--colour-blue-60);
  height: calc(4 * var(--space-unit));
  justify-content: center;
  margin-bottom: var(--space-xl);
  transition: opacity ease var(--transition-duration);
  width: 100%;

  @include mq($until: sm) {
    margin-bottom: calc(2* var(--space-unit));
  }
  
  @include mq(sm) {
    justify-content: flex-start;
  }
}

.slideshow-hero__btn-skip .icon {
  display: flex;
  height: calc(3 * var(--space-unit));
  justify-content: center;
  margin: 0;
  width: calc(3 * var(--space-unit));
}

.slideshow {
  display: grid;
  // stylelint-disable value-no-vendor-prefix
  display: -ms-grid;
  
  @include mq($until: sm) {
    @include grid-column(1, 7);
    
    // ensure captions are displayed below title and intro text
    // stylelint-disable property-no-vendor-prefix
    -ms-grid-row: 3;
  }

  @include mq(sm) {
    height: 100%;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }
}


// --------------------

.slideshow__image-container {
  @include grid-column(1);
  @include grid-row(1);
  height: 100%;
  margin: 0;
  opacity: 0;
  transition:
    opacity var(--transition-duration) ease,
    visibility 0s linear var(--transition-duration);
  visibility: hidden;

  &.is-active {
    display: block;
    opacity: 1;
    transition:
      opacity var(--transition-duration) ease,
      visibility linear 0s;
    visibility: visible;
  }
}

.slideshow__image-frame-outer {
  height: 100%;
  width: 100%;
  
  @include mq($until: sm) {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.slideshow__image-frame {
  height: 56.25vw;
  overflow: hidden;
  position: relative;
  width: 100vw;
  
  @include mq(sm) {
    height: 100%;
    width: 100%;

    @media all and (-ms-high-contrast:none) {
      position: static;
    }
  }
}

.slideshow__image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.slideshow__image-caption {
  border-left: 1px solid var(--colour-grey-70);
  color: var(--colour-grey-70);
  font-size: var(--body-xs);
  margin-top: calc(2 * var(--space-unit));
  padding-left: calc(2 * var(--space-unit));

  @include mq(sm) {
    max-width: 45vw;
  }

  @include mq(xl) {
    max-width: 672px;
  }
  
  &:before {
    content: 'Above';
  }

  // IE11: ensure caption is at least visible
  @media all and (-ms-high-contrast:none) {
    background: rgba(255, 255, 255, 0.9);
    padding: var(--space-unit);
    position: relative;
  }
}

.slideshow__image-caption-detail {
  display: block;
  font-family: var(--font-tertiary);
  font-weight: bold;
}

.slideshow__image-credit {
  display: block;
  font-family: var(--font-tertiary);
}
