// ----------------------------------
// UI Tools
// Extends
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

// headings / text sizes
%heading-base {
  font-family: var(--font-secondary);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
}

%text-xxl {
  font-size: var(--text-xxl);
}

%text-xl {
  font-size: var(--text-xl);
}

%text-lg {
  font-size: var(--text-lg);
}

%text-md {
  font-size: var(--text-md);
}

%text-sm {
  font-size: var(--text-sm);
}

%text-xs {
  font-size: var(--text-xs);
}


// Margins
%margin-xs {
  margin: var(--space-xs);
}

%margin-sm {
  margin: var(--space-sm);
}

%margin-md {
  margin: var(--space-md);
}

%margin-lg {
  margin: var(--space-lg);
}

%margin-xl {
  margin: var(--space-xl);
}
