// ----------------------------------
// UI Components
// InfoBox
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-info-box {
  background: var(--colour-cyan-05);
  color: var(--colour-grey-80);
  margin-bottom: var(--space-xl);
  padding: calc(4 * var(--space-unit));

  > :last-child {
    margin-bottom: 0;
  }
}

