// ----------------------------------
// UI Components
// Newsletter Form
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/* Form */

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
}

/* Form Item */

.newsletter-form__item {
  margin-bottom: rem(16); // #6171 refactor footer styles

  @include mq($until: sm) {
    flex-basis: 100%;
  }
}

.newsletter-form__item--email {
  margin-bottom: rem(24); // #6171 refactor footer styles
  order: 1;

  @include mq(sm) {
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: rem(16); // #6171 refactor footer styles
  }
}

.newsletter-form__item--consent {
  flex-basis: 100%;
  line-height: rem(20.533); // #6171 refactor footer styles
  order: 3;
}

.newsletter-form__item--submit {
  height: 2.75rem;
  order: 2;

  @include mq(sm) {
    margin-top: 1.5rem;
  }
}

.newsletter-form__item--error {
  order: 4;
}

.newsletter-form__item--footer {
  font-size: rem(11); // #6171 refactor footer styles
  line-height: rem(17.2833); // #6171 refactor footer styles
  margin-top: 0;
  order: 5;

  @include mq(sm) {
    margin-bottom: 0;
  }
}

/* Errors */

.newsletter-form__item-error {
  background-color: var(--X-colour-error-pink);
  background-image: none;
  border-radius: calc(0.25 * var(--space-unit));
  color: var(--X-colour-error-red);
  font-size: var(--body-md);
  margin-top: var(--space-md);
  padding-bottom: var(--space-xs);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  padding-top: var(--space-xs);
  position: relative;
  width: max-content;

  &:after {
    border: 8px solid transparent;
    border-bottom-color: var(--X-colour-error-pink);
    border-top: 0;
    content: '';
    left: 1rem;
    margin-left: -var(--space-unit);
    margin-top: -var(--space-unit);
    position: absolute;
    top: 0.125rem;
  }
}

/* Labels */

.newsletter-form__item-label {
  font-size: var(--body-md);
  line-height: rem(20.53); // #6171 refactor footer styles
  margin-bottom: var(--space-xs);
}

.newsletter-form__item-label--email {
  @extend %text-bold;
  display: block;
}

/* Inputs */

.newsletter-form__input {
  @extend %text-input-base;
  height: 2.75rem;
  width: 100%;
}

/* Checkbox */

.newsletter-form__checkbox {
  @extend %checkbox;
}

.newsletter-form__btn-submit {
  width: 100%;
}

/* Response Messages */

.newsletter-form__response-msg {
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
}

.newsletter-form__response-msg-text {
  @extend %margin-0;
}
