// ----------------------------------
// UI Settings
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.u-color-inherit {
  @extend %color-inherit;
}
