// ----------------------------------
// UI Settings
// External Link Indicator
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.u-external-link-indicator {
  display: inline-block;
  height: 1em;
  margin-left: var(--space-unit);
  margin-right: 0;
  margin-top: -0.25rem;
  vertical-align: middle;
  width: 1.3em;
}
