// ----------------------------------
// UI Settings
// External Link Indicator
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.u-external-link-indicator {
  display: inline-block;
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  margin-top: -0.275em;
  vertical-align: middle;
}
