/**
 * @file Scaffolding utility styles.
 */

/**
 * 
 */
.u-scaffold-item {
  padding-bottom: var(--space-xl);
}
 
.u-scaffold-grid-item {
  @include grid-column(1, 7);
  padding-bottom: var(--space-xl);
  width: 100%;
  
  @include mq(sm) {
    @include grid-column(2, 12);
  }
  
  @include mq(md) {
    @include grid-column(4, 10);
  }

  > :last-child {
    margin-bottom: 0;
  }
}
