/**
 * @file Scaffolding utility styles.
 */

.u-scaffold-spacing {
  padding-bottom: var(--space-xl);
}

.u-scaffold-grid-item {
  @include grid-column(1, 7);
  width: 100%;
  
  @include mq(sm) {    
    @include grid-column(1, 13);
  }

  @include mq(md) {
    @include grid-column(4, 10);
  }
  
  > :not(.cc-card-listing--horizontal):last-child {
    margin-bottom: 0;
  }
}

.u-scaffold-grid-item--narrow {
  @include mq($from: sm, $until: md) {
    @include grid-column(2, 12);
  }
}

.u-scaffold-grid-item--wide {
  @include sticky-fade;

  @include mq(sm) {
    @include grid-column(2, 12);
  }

  @include mq(md) {
    @include grid-column(1, 13);
  }
}

.u-scaffold-grid-item--extended {
  @include mq(md) {
    @include grid-column(4, 13);
  }
}
