.cc-statistic-card {
  @include mq($until: sm) {
    margin: $grid-gutter-sm / 4;
    margin-bottom: calc(3 * var(--space-lg));
    margin-top: $grid-gutter-sm;
  }

  @include mq(sm) {
    flex-basis: calc(33.33% - #{$grid-gutter-md});
    flex-grow: 0;
    flex-shrink: 0;
    margin: $grid-gutter-sm;
    padding-bottom: var(--space-unit);
  }
  
  @include mq(md) {
    flex-basis: calc(33.33% - #{$grid-gutter-md});
    flex-grow: 0;
    flex-shrink: 0;
    margin: $grid-gutter-sm;
    padding-bottom: var(--space-unit);
  }

  @include mq(xl) {
    flex-basis: calc(33.33% - #{$grid-gutter-xl});
    margin: $grid-gutter-xl / 2;
  }
}

.cc-statistic-card__description {
  flex-grow: 1;
  margin-bottom: calc(2 * var(--space-unit));

  @include mq(md) {
    padding-left: 0;
  }
}

.cc-statistic-card__title {
  @extend %heading-base;
  @extend %heading-large;
  @include heading-fancy;

  letter-spacing: 0;
  margin-bottom: calc(2 * var(--space-unit));
}
  
.cc-statistic-card__link {
  @extend %anchor-inherit;
  @include animated-underline;

  .cc-featured-promo__figure:hover + .cc-featured-promo__body &,
  .cc-featured-promo__figure:focus + .cc-featured-promo__body & {
    background-size: 100% 2px;
    text-decoration: none;
    transition-timing-function: var(--transition-timing-function-in);
  }
}
