.cc-statistic-card {
  margin-bottom: calc(4 * var(--space-unit));

  @include mq(md) {
    flex-basis: calc(33.33% - #{$grid-gutter-md});
    flex-grow: 0;
    flex-shrink: 0;
    margin: $grid-gutter-md / 2;
    padding-bottom: var(--space-unit);
  }

  @include mq(xl) {
    flex-basis: calc(33.33% - #{$grid-gutter-xl});
    margin: $grid-gutter-xl / 2;
  }
}

.cc-statistic-card__description {
  flex-grow: 1;
  margin-bottom: calc(2 * var(--space-unit));

  @include mq(md) {
    padding-left: 0;
  }
}

.cc-statistic-card__title {
  @extend %heading-base;
  @extend %heading-large;
  @include heading-fancy;

  letter-spacing: 0;
  margin-bottom: calc(2 * var(--space-unit));
}
