// ----------------------------------
// UI Components
// Rich text
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-rich-text {
  // ensure extra long words are wrapped to prevent overlap or horizontal scroll
  overflow-wrap: break-word;
  // ensure wide table data can be seen using horizontal scroll
  overflow-x: auto;
  word-wrap: break-word;

  h2 {
    @extend %heading-base;
    @extend %heading-display;
    @include heading-fancy;
  }

  h3 {
    @extend %heading-base;
    @extend %heading-large;
    letter-spacing: 0;
  }

  h4 {
    @extend %heading-base;
    @extend %heading-regular;
    letter-spacing: 0;
  }

  h5,
  h6 {
    @extend %heading-base;
    @extend %heading-small;
    letter-spacing: 0;
  }

  p {
    @extend %body-large;
  }

  ol,
  ul {
    @extend %list-base;
  }

  li p {
    margin-bottom: calc(2 * var(--space-unit));
  }

  table {
    border-collapse: collapse;
    caption-side: top;
    line-height: var(--body-line-height);
    margin-bottom: calc(4 * var(--space-unit));
    width: 100%;
  }

  caption {
    border-left: 1px solid var(--colour-grey-70);
    font-family: var(--font-tertiary);
    font-size: var(--body-xxs);
    font-weight: bold;
    margin-bottom: calc(2 * var(--space-unit));
    padding: calc(0.25 * var(--space-unit)) 0 calc(0.25 * var(--space-unit)) calc(2 * var(--space-unit));
    text-align: left;
  }

  tr {
    border: solid var(--colour-grey-10);
    border-width: 1px 0;
  }

  thead tr {
    border-bottom-width: 2px;
  }

  tbody tr:nth-child(odd) {
    background-color: var(--colour-cyan-05);
  }

  th,
  td {
    padding: var(--space-md) var(--space-lg);
    text-align: left;
    vertical-align: top;
  }

  th {
    font-size: var(--body-xxxs);
    font-weight: 500;
    text-transform: uppercase;
  }

  thead th {
    padding: calc(2.5 * var(--space-unit)) var(--space-lg);
  }

  td {
    font-size: var(--body-sm);
  }
}

.cc-rich-text-snippet {
  @extend %body-large;
  line-height: var(--body-line-height);

  p {
    @extend %body-regular;
  }

  ol,
  ul {
    @extend %list-base;
    margin-bottom: calc(2 * var(--space-unit));
  }
}

.cc-text-snippet__title,
.cc-rich-text-snippet h2,
.cc-rich-text-snippet h3,
.cc-rich-text-snippet h4,
.cc-rich-text-snippet h5,
.cc-rich-text-snippet h6 {
  @extend %heading-base;
  font-size: var(--body-md);
  font-weight: bold;
  letter-spacing: normal;
  margin-bottom: var(--space-unit);
}

.cc-rich-text__table-wrap {
  overflow-x: auto;
  width: 100%;
}

// remove any bottom margins
.cc-text-snippet > :last-child,
.cc-rich-text > :last-child,
.cc-rich-text-snippet > :last-child {
  margin-bottom: 0;
}
