// ----------------------------------
// UI Components
// Rich text
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-rich-text {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    caption-side: top;
    line-height: var(--body-line-height-sm);
    margin-bottom: calc(4 * var(--space-unit));
    width: 100%;
  }

  caption {
    border-left: 1px solid var(--colour-grey-70);
    font-family: var(--font-tertiary);
    font-size: var(--body-xs);
    font-weight: bold;
    margin-bottom: calc(2 * var(--space-unit));
    padding: calc(0.25 * var(--space-unit)) 0 calc(0.25 * var(--space-unit)) calc(2 * var(--space-unit));
    text-align: left;
  }
  
  tr {
    border: solid var(--colour-grey-10);
    border-width: 1px 0;
  }

  thead tr {
    border-bottom-width: 2px;
  }
  
  tbody tr:nth-child(odd) {
    background-color: var(--colour-cyan-05);
  }
  
  th,
  td {
    padding: var(--space-md) var(--space-lg);
    text-align: left;
    vertical-align: top;
  }
  
  th {
    font-size: var(--body-xxs);
    font-weight: 500;
    text-transform: uppercase;
  }
  
  thead th {
    padding: calc(2.5 * var(--space-unit)) var(--space-lg);
  }

  td {
    font-size: var(--body-md);
  }
}
