// ----------------------------------
// UI Components
// RadioInput
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-radio-input__label {
  --radio-width: calc(2 * var(--space-unit));
  --radio-inner-width: calc(0.75 * var(--space-unit));

  cursor: pointer;
  padding-left: calc(var(--radio-width) + var(--space-md));
  position: relative;

  &:after,
  &:before {
    @include middle(y, absolute);

    background-color: var(--colour-white);
    border: 1px solid var(--colour-grey-20);
    border-radius: 50%;
    content: '';
    height: var(--radio-width);
    left: 0;
    width: var(--radio-width);
  }

  &:after {
    box-shadow: inset 0 0 0 0;
    height: var(--radio-inner-width);
    left: calc((var(--radio-width) - var(--radio-inner-width)) / 2);
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    width: var(--radio-inner-width);
  }

  // Checked Radio
  .cc-radio-input__input-element:checked ~ &:after,
  .cc-radio-input__input-element:checked ~ &:before {
    border: 0;
  }

  .cc-radio-input__input-element:checked ~ &:before {
    background-color: var(--colour-blue-60);
  }

  .cc-radio-input__input-element:checked ~ &:after {
    opacity: 1;
  }

  // Hovered/Focused Radio
  &:not(:disabled):hover:before,
  .cc-radio-input__input-element:not(:disabled):focus ~ &:before {
    border-color: var(--colour-blue-60);
  }

  // Disabled
  .cc-radio-input__input-element:disabled ~ &:before {
    background-color: var(--colour-grey-05);
    border: 1px solid var(--colour-grey-20);
  }

  .cc-radio-input__input-element:disabled ~ & {
    color: var(--colour-grey-30);
  }
}

// Hide the <input /> element
.cc-radio-input__input-element {
  @extend %visually-hidden;
}
