.cc-description-list {

}

.cc-description-list__title {
  display: block;
  font-size: var(--body-lg);
  font-weight: bold;
  float:left;

  margin: 0 var(--space-sm)  0 0;
}

.cc-description-list__definition {
  display: block;
  margin: 0 0 var(--space-sm) 0;

  a {
    @extend %anchor-base;
  }

  p {
    margin: 0;
  }

  span {
    display: inline;
  }

  span::after {
    display: inline;
    content: ', ';
  }

  span:last-child::after {
    content: '';
  }
}
