.cc-description-list__title {
  display: block;
  float: left;
  font-size: var(--body-md);
  font-weight: bold;

  margin: 0 var(--space-sm) 0 0;
}

.cc-description-list__definition {
  display: block;
  margin: 0 0 var(--space-md) 0;
}

.cc-description-list__definition-inner {
  display: inline;
}
