// TODO: #5862 refactor to reduce nesting and avoid repeated selectors

.nav__item {
  list-style: none;

  @include mq($until: md) {
    border-bottom: 1px solid var(--colour-grey-05);
  }

  //duplication of class name for higher specificity
  &.nav__item {
    margin: 0;
    padding: 0;
    position: static;
  }

  &.nav__item:before {
    content: none;
  }
}

.nav-secondary .nav__item.first {
  @include mq(md) {
    display: none;
  }
}


// NavLink

.nav__link {
  align-items: center;
  color: var(--colour-blue-80);
  display: flex;
  height: 100%;
  justify-content: space-between;
  letter-spacing: rem(0.43);
  line-height: 1.4;
  padding:
    calc(2.25 * var(--space-unit))
    calc(1.5 * var(--space-unit))
    calc(2.25 * var(--space-unit))
    calc(2 * var(--space-unit));
  text-decoration: none;

  @include mq(sm) {
    padding-left: calc(4 * var(--space-unit));
    padding-right: calc(4 * var(--space-unit));
  }

  @include mq(md) {
    color: var(--colour-white);
    padding: calc(2 * var(--space-unit));

    &:active,
    &:focus,
    &:hover,
    &.active {
      color: var(--colour-white);
    }

    .nav__link-text:before {
      background-color: var(--colour-white);
    }

    .icon {
      display: none;
    }

    &.active + .nav-secondary {
      display: block;
    }
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover,
  &.active {
    color: var(--colour-blue-80);
  }

  .nav__link-text {
    align-items: center;
    display: flex;
    height: 100%;
    padding-bottom: calc(0.5 * var(--space-unit));
    padding-top: calc(0.5 * var(--space-unit));
    position: relative;
  }

  .nav__link-text:before {
    background-color: var(--colour-blue-80);
    bottom: 0;
    content: '';
    height: calc(0.25 * var(--space-unit));
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  &.active .nav__link-text:before,
  &:hover .nav__link-text:before {
    transform: scaleX(1);
    width: 100%;
  }

  .nav-secondary & {
    @include mq(md) {
      align-items: stretch;
    }
  }
}

.nav__pane {
  background: var(--colour-white);
  left: 0;
  position: absolute;
  z-index: var(--z-low);

  @include mq($until: md) {
    border-top: 1px solid var(--colour-grey-05);
    bottom: 0;
    right: 0;
    top: calc(8 * var(--space-unit));
    transform: translate3d(100%, 0, 0);
    transition:
      transform ease 0.4s,
      0s visibility ease 0.4s;
    visibility: hidden;
    z-index: var(--z-medium);

    .is-active {
      top: 0;
      z-index: var(--z-high);
    }

    &.is-active {
      transform: translate3d(0, 0, 0);
      transition:
        transform ease 0.4s,
        visibility ease 0.4s;
      visibility: visible;
    }
  }

  @include mq(md) {
    box-shadow:
      0 calc(0.5 * var(--space-unit)) calc(1.5 * var(--space-unit))
      0 rgba(0, 0, 0, 0.1);
    display: none;
    padding: 0 5%;
    top: 100%;
    width: 100%;

    .nav__link {
      color: var(--colour-blue-80);
      padding: 0 calc(2 * var(--space-unit));
    }

    .nav__link:hover,
    .nav__link.active {
      color: var(--colour-blue-80);
    }

    .nav__link-text:before {
      background-color: var(--colour-blue-80);
    }

    .nav__list {
      margin: 0 auto;
      max-width: var(--container-width);
      padding: 0 0 0 calc(13.5 * var(--space-unit));
    }
  }
}
