// ----------------------------------
// UI Components
// Accordion
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --accordion-button-text-size: calc(12/16 * var(--text-base-size));
}

// .cc-accordion {}

.cc-accordion--has-borders {
  border-bottom: 1px solid var(--colour-grey-10);
  border-top: 1px solid var(--colour-grey-10);

  & + & {
    border-top: 0;
  }
}

// .cc-accordion-item {}

.cc-accordion-item__title {
  margin: 0;
}

.cc-accordion__content {
  padding: var(--space-unit) 0;

  h3 {
    font-size: var(--heading-sm);
  }

  .cc-accordion + *,
  .cc-rich-text + * {
    margin-top: calc(2 * var(--space-sm));
  }

  .cc-contact--nested + * {
    margin-top: var(--space-sm);
  }
}

.cc-accordion__button {
  @extend %btn-base;
  @extend %btn-size-standard;
  color: inherit;

  .btn__icon {
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
  }

  .btn__icon--right {
    margin-right: 0;
  }

  .cc-accordion-item--active & svg {
    transform: rotate(0deg);
  }
}

.cc-accordion__button--chevron {
  @extend %anchor-base;
  font-size: var(--accordion-button-text-size);
  font-weight: 600;
  text-transform: uppercase;
  transition: color ease var(--transition-duration);
}

.cc-accordion__button--plus {
  display: flex;
  font-size: var(--text-base-size);
  font-weight: bold;
  height: auto;
  justify-content: flex-start;
  line-height: var(--body-line-height-sm);
  padding: var(--space-unit) 0;
  text-align: left;
  width: 100%;

  .cc-accordion-item--active & svg {
    transition: transform var(--transition-duration-fast) ease;
  }

  .btn__icon--right {
    color: var(--colour-blue-60);
    margin-left: auto;
  }

  svg {
    position: absolute;
    right: 5px;
  }

  .btn__text {
    padding-right: var(--space-lg);
  }

  .cc-info-box & {
    font-weight: normal;
  }
}

.cc-accordion__button--chevron svg {
  transform: rotate(-90deg);
}

.cc-accordion__button--plus[aria-expanded='false'] svg {
  transform: rotate(-45deg);
  transition: transform var(--transition-duration-fast) ease;
}

// Nested accordion

.cc-accordion--nested {
  border-left: 1px solid var(--colour-grey-10);
  margin-top: calc(2 * var(--space-unit));
  padding-left: var(--space-lg);

  & + &,
  &:only-child {
    margin-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  .cc-accordion__button--plus {
    font-size: var(--heading-xs);
    font-weight: normal;
  }

  .cc-accordion__button--plus[aria-expanded='true'] {
    font-weight: bold;
  }

  .cc-accordion-item--active {
    padding-bottom: var(--space-md);
  }
}

.cc-accordion-button__text--nested {
  padding-left: calc(2 * var(--space-unit));
  position: relative;

  &:before {
    background-color: var(--colour-grey-80);
    content: '';
    height: calc(1 * var(--space-unit));
    left: 0;
    position: absolute;
    top: calc(0.75 * var(--space-unit));
    width: calc(1 * var(--space-unit));
  }
}

// Empty accordion content

.cc-accordion--empty {
  .cc-accordion__button--plus {
    cursor: default;
  }
}
