// ----------------------------------
// UI Components
// Accordion
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --accordion-button-text-size: calc(12/16 * var(--text-base-size));
}

// .cc-accordion {}

// .cc-accordion-item {}

[class*='cc-accordion--'] {
  border-bottom: 1px solid var(--colour-grey-10);
}

.cc-accordion--0,
.cc-accordion--only-child {
  border-top: 1px solid var(--colour-grey-10);
}

.cc-accordion--last-child,
.cc-accordion--only-child {
  margin-bottom: var(--space-lg) !important;
}

.cc-accordion-item__title {
  margin: 0;
}

.cc-accordion__content {
  padding: var(--space-unit) 0;
}

.cc-accordion__button {
  @extend %btn-base;
  @extend %btn-size-standard;

  .btn__icon {
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
  }

  .btn__icon--right {
    margin-right: 0;
  }

  .cc-accordion-item--active & svg {
    transform: rotate(0deg);
  }
}

.cc-accordion__button--chevron {
  @extend %anchor-base;
  font-size: var(--accordion-button-text-size);
  font-weight: 600;
  text-transform: uppercase;
  transition: color ease 0.4s;
}

.cc-accordion__button--plus {
  //border-top: 1px solid var(--colour-grey-10);
  display: flex;
  font-size: var(--text-base-size);
  font-weight: bold;
  height: auto;
  justify-content: flex-start;
  line-height: var(--body-line-height-sm);
  padding: 8px 0;
  text-align: left;
  width: 100%;

  .cc-accordion-item--active & svg {
    transition: transform 0.2s ease;
  }

  .btn__icon--right {
    color: var(--colour-blue-60);
    margin-left: auto;
  }

  svg {
    position: absolute;
    right: 5px;
  }

  .btn__text {
    padding-right: var(--space-lg);
  }
}

.cc-accordion__button--chevron svg {
  transform: rotate(-90deg);
}

.cc-accordion__button--plus svg {
  transform: rotate(-45deg);
  transition: transform 0.2s ease;
}
