// ----------------------------------
// UI Components
// ImageBanner
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-iframe {
  overflow: hidden;
  position: relative;
}

.cc-iframe__iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  scroll-behavior: auto;
  top: 0;
  width: 100%;
}
