// ----------------------------------
// UI Components
// InpageNav
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-inpage-nav-container {
  margin-bottom: var(--space-xl);

  @include mq(md) {
    height: 0;
    margin-bottom: 0;
    pointer-events: none;
    position: sticky;
    top: calc(var(--header-height-sm) + var(--secondary-nav-height));
  }
}

.cc-inpage-nav {
  @include grid-column(1, 7);
  font-size: var(--body-md);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height-sm);

  @include mq($until: md) {
    border-top: 1px solid var(--colour-grey-10);
    padding-top: calc(2 * var(--space-unit));
  }

  @include mq(sm) {
    @include grid-column(1, 13);
  }

  @include mq(md) {
    @include grid-column(1, 4);
    pointer-events: all;
  }
}

.cc-inpage-nav__title {
  display: block;
  font-size: var(--body-xxs);
  font-weight: 500;
  line-height: 2.4;
  margin-bottom: var(--space-unit);
  text-transform: uppercase;
}

.cc-inpage-nav__list {
  @extend %list-clean;
}

.cc-inpage-nav__link {
  border-left: 2px solid transparent;
  color: var(--colour-grey-60);
  display: block;
  margin-bottom: calc(0.5 * var(--space-unit));
  padding: calc(0.25 * var(--space-unit)) var(--space-unit);
  text-decoration: none;
  transition: ease var(--transition-duration-fast);
  transition-property: border, color, padding;
  
  @include hocus {
    color: var(--colour-blue-70);
  }
  
  &:active {
    color: var(--colour-blue-50);
  }
  
  &.is-active {
    border-left-color: var(--colour-blue-60);
    color: var(--colour-grey-80);
    padding-left: var(--space-unit);
  }
}
